.tile-more-content.no-padding
  .tiles.green
    .tile-footer.drag
      | FIB
      i.fa.fa-chevron-right
      span.semi-bold Fill In The Blanks Properties
    .docket-body
      div
        input#check-case-sensitive(type='checkbox', name='check-ind-marks')
        | Case Sensitive
      div
        | Font
        select#fib-font.font
          option(value='Arial')
            | Arial
          option(value='Calibri')
            | Calibri
          option(value='Comic Sans MS')
            | Comic Sans MS
          option(value='Courier')
            | Courier
          option(value='Georgia')
            | Georgia
          option(value='Helvetica')
            | Helvetica
          option(value='Impact')
            | Impact
          option(value='Lucida Console')
            | Lucida Console
          option(value='Lucida Sans Unicode')
            | Lucida Sans Unicode
          option(value='Tahoma')
            | Tahoma
          option(value='Times New Roman')
            | Times New Roman
          option(value='Trebuchet MS')
            | Trebuchet MS
          option(value='Verdana')
            | Verdana
          option(value='Chelsea Market')
            | Chelsea Market
          option(value='Indie Flower')
            | Indie Flower
          option(value='Just Another Hand')
            | Just Another Hand
          option(value='Sacramento')
            | Sacramento
      div
        .textProp.slider.success
          | Size
          input#fib-fontsize.fontSize(type='text', data-slider-max='80', data-slider-min='12', data-slider-step='1', data-slider-value='{{font_size}}', data-slider-orientation='horizontal', data-slider-selection='before')
      div
        | Marks
        select#marks
          option(value='1') 1
          option(value='2') 2
      .form-group.inline
        | Font-Color
        input#font-color.color-picker(type='hidden', value='{{color}}')
      .form-group.inline
        | Background-Color
        input#bg-color.color-picker(type='hidden', data-opacity='{{bg_opacity}}', value='{{bg_color}}')
      div
        | Style
        select#fib-style
          option(value='uline') Underline
          option(value='box') Box
          option(value='blank') Blank
