{{#imagePreview}}
    <a class="thumbnail">
        <div class="imgthumb"><img src="{{imageUrl}}" class="img-responsive"/></div>
        <div class="imaTitle"><span>{{title}}</span></div>
        <div class="ticker">
            <span class="glyphicon glyphicon-ok"></span>
            <span class="glyphicon glyphicon-minus"></span>
        </div>
    </a>
    <div class="edit-image clearfix">
    <span class="glyphicon glyphicon-edit edit"></span> Edit
    </div>
{{/imagePreview}}
{{#videoPreview}}
<a class="thumbnail">
    <div class="imaTitle"><span>{{title_show}}</span></div>
    <div class="ticker">
        <span class="glyphicon glyphicon-ok"></span>
        <span class="glyphicon glyphicon-minus"></span>
    </div>
</a>
{{/videoPreview}}
{{#audioPreview}}
<a class="thumbnail">
    <div class="imaTitle"><span>{{title_show}}</span></div>
    <div class="ticker">
        <span class="glyphicon glyphicon-ok"></span>
        <span class="glyphicon glyphicon-minus"></span>
    </div>
</a>
{{/audioPreview}}