{{#imagePreview}}
    <a class="thumbnail">
        <div class="imgthumb"><img src="{{sizes.thumbnail.url}}" class="img-responsive"/></div>
        <div class="imaTitle"><span>{{title}}</span></div>
        <div class="ticker">
            <span class="glyphicon glyphicon-ok"></span>
            <span class="glyphicon glyphicon-minus"></span>
        </div>
    </a>
{{/imagePreview}}
{{#videoPreview}}
<a class="thumbnail">
    <div class="imgthumb">{{title_excerpt}}</div>
    <div class="imaTitle"><span>{{title}}</span></div>
    <div class="ticker">
        <span class="glyphicon glyphicon-ok"></span>
        <span class="glyphicon glyphicon-minus"></span>
    </div>
</a>
{{/videoPreview}}