<div class="modProgress h-center">
	<p class="bold small-text m-b-5 p-t-10 text-center">Questions Answered</p>
		<div class="progress progress-large m-b-10">
		<div data-percentage="0%" style="width: 40%;" class="progress-bar progress-bar-warning" role="progressbar" aria-valuemin="0" aria-valuemax="100">4/18</div>
	</div>
</div>
<div class="text-center small-text p-t-10 m-t-5 p-b-10 b-grey b-t skipped">
	Questions Skipped: 2
</div>
<div class="quizSteps">
	<ul id="quiz-items">
	</ul>
	<div class="clearfix"></div>
</div>
<div class="customButtons">
	<span class="fa fa-chevron-left pull-left"></span>
	<span class="fa fa-chevron-right pull-right"></span>
	<div class="holder">
	</div>
</div>