<div class="meta name">
    <div class="img_wrapper">
      {{&thumbnail}}
    </div>
    <div class="titles">
      <h3 class="normal">
        {{#take_quiz}}
          {{&name}}
        {{/take_quiz}}
        {{^take_quiz}}
          <a class="textbook_titles" data-id="{{term_id}}" href="{{url}}">{{&name}}</a>
        {{/take_quiz}}
      </h3>
      <p class="small-text">{{author}}</p>
    </div>
</div>

{{#take_quiz}}
<div class="meta">
    <p>{{chapter_count}}</p>
</div>
{{/take_quiz}}

{{#take_quiz}}
    <div class="meta modules rec">
      <div>
        <h4 class="m-t-20">No. of Quizzes: {{total_quizzes}}</h4>
        <a href="{{quizzes_url}}" class="btn btn-default">View Quizzes</a>
      </div>
    </div>
    <div class="meta modules rec">
      <div>
        <h4 class="m-t-20">No. of Training Modules: {{total_student_training_modules}}</h4>
        <a href="{{training_modules_url}}" class="btn btn-default">View Training Modules</a>
      </div>
    </div>

{{/take_quiz}}

{{^take_quiz}}
  <div class="meta modules rec">

      {{#training_mode}}
        <p>Total Chapters: {{chapter_count}}</p>
      {{/training_mode}}

      {{^training_mode}}
        <h4 class="b-grey b-b p-b-10 m-t-20 m-b-10">Total Chapters: {{chapter_count}}</h4>
        <div class="chapStatus text-success"><h5 class="no-margin">Completed</h5> {{chapters_completed}}</div>
        <div class="chapStatus text-info"><h5 class="no-margin">In Progress</h5> {{chapters_in_progress}}</div>
        <div class="chapStatus text-error"><h5 class="no-margin">Not Started</h5> {{chapters_not_started}}</div>
      {{/training_mode}}

  </div>
{{/take_quiz}}
<div class="clearfix"></div>
