<div class="meta name">
    <div class="img_wrapper"> 
      {{&thumbnail}}
    </div>
    <div class="titles">
      <h3 class="normal"><a class="textbook_titles" data-id="{{term_id}}" href="{{url}}">{{name}}</a></h3>
      <p class="small-text">{{author}}</p>
    </div>
</div>

<div class="meta">
    <p>{{subjects}}</p>
</div>

<div class="meta modules rec">
    <p>Total Chapters: {{chapter_count}}<br>
       Completed: {{chapters_completed}}<br>
       In Progress: {{chapters_in_progress}}<br>
       Not Started: {{chapters_not_started}}<br></p>
</div>

<div class="clearfix"></div>