<div class="">
  <div style="margin:40px 0 0" class="row login-container column-seperation">  
    <div class="col-md-3">
          
    </div>
    <div class="col-md-6">
      <div class="well">
        <div class="mainLogo"><img id="logo" src=""></div>
        <!--<h2>Sign in to <span class="schoolName">School Name</span></h2>-->
		  <form id="login-form" class="login-form" action="" method="post" novalidate="novalidate">
  		 <div class="row">
    		 <div class="form-group col-md-12">
                <label class="form-label">Username</label>
                <div class="controls">
          				<div class="input-with-icon  right">                                       
          					<i class=""></i>
          					<input type="text" required name="txtusername" id="txtusername" class="form-control">                                 
          				</div>
                </div>
          </div>
        </div>
  		  <div class="row">
            <div class="form-group col-md-12">
              <label class="form-label">Password</label>
              <span class="help"></span>
              <div class="controls">
        				<div class="input-with-icon  right">                                       
        					<i class=""></i>
        					<input type="password"  required name="txtpassword" id="txtpassword" class="form-control">                                 
        				</div>
              </div>
          </div>
        </div>
  		  <div class="row">
            <div class="control-group  col-md-12">
              <!--<div class="checkbox checkbox check-success"> 
                <input type="checkbox" id="checkbox1" value="1">
                <label for="checkbox1">Remember Me</label>
              </div>-->
              <a href="#">Trouble logging in?</a>

              <p class=" m-b-5 bold">Login Type</p>
              <div class="radio radio-success">
                <input id="online" type="radio" name="optionyes" value="online">
                <label for="online">Online</label>
                <input id="offline" type="radio" name="optionyes" value="offline" checked="checked">
                <label for="offline">Offline</label>
              </div>
              
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button id="login-submit" class="btn btn-primary btn-cons pull-right" type="submit">Login </button>
          </div>
        </div>
		  </form>
    </div>
      <div class="text-center"><small>Powered by:</small></div>
      <div class="smallLogo"></div>
    </div>
     
    
  </div>
</div>