<!--<div class="container-grey m-b-5  qstnInfo">
    <label class="form-label bold small-text muted no-margin inline">Question Info: </label>
    <p class="inline text-grey small">{{&instructions}}</p>
</div>-->

<div id="content-board" class="quizContent"></div>

<div class="container-grey m-b-10 p-l-10 p-r-10 p-t-10 p-b-10 h-center quizActions"> 
    <!-- <span class="pull-left small" id="first_question"></span> -->
  
        {{#show_skip}}
            <button type="button" id="skip-question" class="btn btn-default btn-sm btn-small">
                Skip <i class="fa fa-step-forward"></i>
            </button>
        {{/show_skip}}
        
    
    {{#allow_submit_answer}}   
   <button type="button" id="submit-question" class="btn btn-success">
        Submit <i class="fa fa-forward"></i> 
    </button>
    {{/allow_submit_answer}}
        <div class="submit2">
        {{#allow_submit_answer}}   
           <button type="button" id="submit-question" class="btn btn-success">
                Submit <i class="fa fa-forward"></i> 
            </button>
        {{/allow_submit_answer}}        
        </div>


    <!-- <span class="pull-right small" id="last_question"></span> -->


    <!-- <div class="text-center"> -->
        {{#show_hint}}
        <button type="button" id="show-hint" class="btn btn-default btn-sm btn-small m-r-10">
            <i class="fa fa-lightbulb-o"></i> Hint
        </button>
        {{/show_hint}}

        {{#show_skip_helper_text}} 

            <!-- <div><i class="small">(questions once skipped cannot be answered later)</i></div> -->
        {{/show_skip_helper_text}}

        {{#replay}}
        <div class="replay-actions">
 
        <div>
        <button type="button" id="previous-question" class="btn btn-info"> 
             <h4>Previous</h4>
        </button>
        </div>
 
        <div>
        <button type="button" id="next-question" class="none btn btn-info">
            <h4>Next</h4>
        </button>
        </div>
 
        </div>
        {{/replay}}

    <!-- </div> -->
    <div class="clearfix"></div>
</div>

{{#showComment}}
    <div class="container-grey m-b-5 quizComment">
        <label class="form-label bold small-text muted no-margin inline">Comment: </label>
        <p class="inline text-grey small">{{&comment}}</p>
    </div>
{{/showComment}}