<div class="col-md-3">
</div>
<div class="col-md-6">
	<label id="directory" class="form-label bold">SD CARD</label>
    <ul class="nav nav-tabs" id="teacherOptns">
        <li class="active"><a href="#takeClass">Take a Class</a></li>
        <li class=""><a href="#training">Start Training</a></li>
        <li class=""><a href="#progress">Class Progress</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="takeClass">
          <div class="m-b-15 semi-bold row">
				<div class="col-md-6">
					<label class="form-label bold">Class</label>
					<select id="class" class="form-control select2" >
			        </select>
			    </div>
			    <div class="col-md-6">
			        <label class="form-label bold">Div</label>
					<select id="div" class="form-control select2" >
			        </select>
			    </div>
		    </div>
		    <button value="take-class" type="button" class="submit-btn btn btn-primary btn-xs btn-sm pull-right"> Go </button>
		    <div class="clearfix"></div>
        </div>
        <div class="tab-pane" id="training">
          <div class="m-b-15 semi-bold row">
				<div class="col-md-12">
					<label class="form-label bold">Class</label>
					<select id="class-training" class="form-control select2" >
			        </select>
			    </div>
		    </div>
		    <button value="start-training" type="button" class="submit-btn btn btn-primary btn-xs btn-sm pull-right"> Go </button>
		    <div class="clearfix"></div>
        </div>
        <div class="tab-pane" id="progress">
          <div class="row">
            <div class="col-md-12">
              <h3>Coming Soon...</h3>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="col-md-3">
</div>
