<div id="teacherOptns">
    <h3><a href="#take-class-region" class="active">Take a Class</a></h3>
    <h3 class=""><a href="#start-training-region">Start Training</a></h3>
    <h3 class=""><a href="#class-progress-region">Class Progress</a></h3>
</div>

<div id="tab-content" class="tab-content" style="background: none">
    <div class="tab-pane active" id="take-class-region"></div>
    <div class="tab-pane" id="start-training-region"></div>
    <div class="tab-pane" id="class-progress-region"></div>
</div>