<div class='tiles white grid simple animated fadeIn'>
    <div class="grid-title">
        <div class="row">
            <div class="col-md-4">
                <h3 class="no-margin semi-bold">
                    <span>Lecture </span>
                    {{name}}
                </h3>
            </div>
            <div class="col-md-4">
                <h3 class="no-margin semi-bold">
                <label class="form-label text-grey">Textbookk</label>
                    {{getTextbookName}}
                </h3>
            </div>
            <div class="col-md-4">
                 <h3 class="no-margin semi-bold">
                <label class="form-label text-grey">Chapter</label>
                    {{getChapterName}}
                 </h3>   
            </div>
        </div>

        <!-- <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div> -->
    </div>
    <div class="grid-body" style="overflow: hidden; display: block;">
        <div class="row m-b-10">
            <div class="col-md-6 b-r b-grey">
                    <label class="form-label">Objective</label>
                    {{description.objective}}
            </div>
            <div class="col-md-6">
                    <label class="form-label">Description</label>
                    {{description.description}}
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-6 b-r b-grey">
                    <label class="form-label">Physical Requirements</label>
                    {{description.physical_requirements}}
            </div>
            <div class="col-md-6">
                    <label class="form-label">Electronic Requirements</label>
                    {{description.electionic_requirements}}
            </div>
            <!-- <div class="col-md-4">
                    <label class="form-label">Duration</label>
                    {{duration}} {{minshours}}
            </div> -->
        </div>
    </div>

    <div class="tiles grey text-grey p-t-10 p-l-15 p-r-10 p-b-10 b-grey b-b">
        <div class="modTimes no-margin">
            <div class="text-center b-r b-grey">
                <p class="bold small-text muted no-margin"> Module Time</p>
                <h3 class="bold text-grey no-margin">
                    <span class="animate-number" data-animation-duration="1200">{{total_minutes}} mins</span>
                </h3>
            </div>

            <div class="pull-right">
                <button type="button" id="start-module" class="btn btn-success action btn-block m-t-10">Start</button>
            </div>
        </div>
        <div class="row no-margin p-t-10">
            <div class="col-sm-6">
                
            </div>
            <div class="col-sm-6">
                <div class="timedisplay"></div>

                


            </div>
        </div>
    </div>
</div>