<form name="content-collection-form" id="content-collection-form">
	<div class="grid-title"><h3 class="m-t-0">{{heading}} <span class="semi-bold">{{type}}</span>
        {{#isQuiz}}<br>
        <small>Pick individual or add a set of student questions for students to take in the quiz</small>
        {{/isQuiz}}
    </h3>
	</div>

    {{#isModule}}
	<div class="grid-body" style="overflow: hidden; display: block;">
		<div class="row m-b-10">
			<div class="col-md-6">
				<input id="group_name" class="input-lg" name="name" value="{{name}}" placeholder="Module Name" type="text" required="required" />
			</div>
		</div>
		<div class="row m-b-10">
			<div class="col-md-6">
				<label class="form-label">Objective<span class="text-error">*</span></label>
				<textarea id="objective" name="description[objective]" required="required" class="form-control" placeholder="Enter Objective">{{description.objective}}</textarea>
			</div>
			<div class="col-md-6">
				<label class="form-label">Description</label>
				<textarea id="description" name="description[description]" rows="4" class="form-control" placeholder="Enter Description">{{description.description}}</textarea>
			</div>
		</div>
		<div class="row m-b-10">
			<div class="col-md-6">
				<label class="form-label">Physical Requirements</label>
				<textarea name="description[physical_requirements]" class="form-control" placeholder="Enter Physical Requirements">{{description.physical_requirements}}</textarea>
			</div>
			<div class="col-md-6">
				<label class="form-label">Electronic Requirements</label>
				<textarea id="electronic_requirements" name="description[electionic_requirements]" class="form-control" placeholder="Enter Electronic Requirements">{{description.electionic_requirements}}</textarea>
			</div>										 
		</div>
		<div class="row m-b-10">
			<div class="col-md-6">
				<label required="required" class="form-label">Textbook<span class="text-error">*</span></label>
				<select name="term_ids[textbook]" id="textbooks" class="form-control select2" >
					<option value="">--select textbook--</option>
	                {{#textbooksFilter}}
	                	<option value="{{id}}" {{textBookSelected}}>{{name}}</option>
	                {{/textbooksFilter}}
	            </select>
			</div>
			<div class="col-md-6">
				<label class="form-label">Chapter<span class="text-error">*</span> <span class="muted small pull-right"> Select a Textbook first</span></label>
				<select name="term_ids[chapter]" id="chapters" class="form-control select2" >
					<option value="">--select chapters--</option>
	            </select>
			</div>											 
		</div>
		<div class="row m-b-10">
            <div class="col-md-6">
                <label class="form-label">Section <span class="muted small pull-right"> Select a Chapter first</span></label>
                <select name="term_ids[sections][]" id="secs" class="form-control select2" multiple="">
                </select>
			</div>
			<div class="col-md-6">
				<label class="form-label">Sub-Sections <span class="muted small pull-right"> Select a Chapter first</span></label>
				<select name="term_ids[subsections][]" id="subsecs" class="form-control select2" multiple="">
	            </select>
			</div>											 
		</div>
        <div class="row">
            <div class="col-sm-6">
                <label class="form-label">Status</label>
                <select required name="post_status" id="status" class="form-control" >
                    <option value="underreview">Under Review</option>
                    <option value="publish">Published</option>
                    <option value="archive">Archived</option>
                </select>
            </div>
			<div class="col-md-6">
				<label class="form-label">Duration<span class="text-error">*</span></label>
		    	<input id="duration" name="duration" value="{{duration}}" class="pull-left" placeholder="Enter Duration" type="text" min="1" /> &nbsp; mins
		    	<!-- <select style="width:120px; margin-left:10px" name="minshours" id="minshours" class="form-control select2 pull-left">
		    		<option value="mins" selected="selected">mins</option>
		    		<option value="hrs">hour(s)</option>
	            </select> -->
			</div>
        </div>
        {{/isModule}}


        {{#isQuiz}}
        <div class="grid-body" style="overflow: hidden; display: block;">
        <div class="row m-b-10">
            <div class="col-md-6">
                <input name="name" type="text" class="input-lg" placeholder="Quiz Name" required="required">
            </div>
        </div>
        <div class="row m-b-10">
            <div class="col-md-6">
                <label class="form-label">Quiz Type</label>
                <select name="quiz_type" id="qType" class="form-control">
                    <option value="practice">Practice</option>
                    <option value="test">Take at Home</option>
                    <option value="class_test">Class Test</option>
                </select>
            </div>
            <div class="col-md-6">
                <label class="form-label">Status</label>
                <select name="post_status" id="status" class="form-control">
                    <option value="underreview">Under Review</option>
                    <option value="publish">Published</option>
                    <option value="archive">Archived</option>
                </select>
            </div>
        </div>
        <div class="row m-b-10">
            <div class="col-md-6">
                <label required="required" class="form-label">Textbook<span class="text-error">*</span></label>
                <select name="term_ids[textbook]" id="textbooks" class="form-control select2" >
                    <option value="">--select textbook--</option>
                    {{#textbooksFilter}}
                    <option value="{{id}}" {{textBookSelected}} >{{name}}</option>
                    {{/textbooksFilter}}
                </select>
            </div>
            <div class="col-md-6">
                <label class="form-label">Chapter<span class="text-error">*</span> <span class="muted small pull-right"> Select a Textbook first</span></label>
                <select name="term_ids[chapter]" id="chapters" class="form-control select2" >
                    <option value="">--select chapters--</option>
                </select>
            </div>
        </div>
        <div class="row m-b-10">
            <div class="col-md-6">
                <label class="form-label">Section <span class="muted small pull-right"> Select a Chapter first</span></label>
                <select name="term_ids[sections][]" id="secs" class="form-control select2" multiple="">
                </select>
            </div>
            <div class="col-md-6">
                <label class="form-label">Sub-Sections <span class="muted small pull-right"> Select a Chapter first</span></label>
                <select name="term_ids[subsections][]" id="subsecs" class="form-control select2" multiple="">
                </select>
            </div>
        </div>
        <div class="row m-b-10">
            <div class="col-md-6">
                <label class="form-label">Marks</label>
                <input id="total-marks-final" name="marks" class="pull-left" placeholder="Enter Marks" type="text"  />
            </div>
            <div class="col-md-6">
                <label class="form-label">Total Marks</label>
                <input id="total-marks" class="disabled" placeholder="0" type="text" disabled="disabled">
            </div>
        </div>
        <div class="row m-b-10">
            <div class="col-md-6">
                <label class="form-label">Duration</label>
                <input id="total-time-marks-set" type="hidden" value="0"/>
                <input id="total-time-final" name="duration" class="pull-left" placeholder="Enter Duration" type="text"/> &nbsp;{{minshours}}
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6">
                <label class="form-label">Total Time </label>
                <input id="total-time"  class="disabled" placeholder="0" type="text" disabled="disabled">
            </div>
        </div>
        <div class="row m-b-10">
            <div class="col-md-6">
                <label class="form-label">Negative Marks</label>
                <div class="radio radio-info inline">
                    <input id="yes" type="radio" name="negMarksEnable" value="true" checked="checked">
                    <label for="yes">Yes</label>
                    <input id="no" type="radio" name="negMarksEnable" value="false">
                    <label for="no">No</label>
                </div>
                <div id="negPercent" class="input-with-icon right inline">
                    <input id="" name="negMarks" class="inline" placeholder="Set Negative marks" type="text" /> %
                </div>
            </div>
            
            <div class="col-md-6">
                <label class="form-label">Total No. of Questions</label>
                <input id="total-question-number"  class="disabled" placeholder="0" type="text" disabled="disabled">
            </div>
        </div>
        <div class="row m-b-10">
            <div class="col-md-12">
                <label class="form-label">Quiz Instructions</label>
                <input id="" name="description[instruction]" class="w100" placeholder="Enter Quiz instructions here" type="text">
            </div>
        </div>
        <div class="row m-b-10">
            <div class="col-md-12">
                <div data-toggle="collapse" id="accordion" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="collapsed"> &nbsp;
                                    Permissions
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapseOne">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-3"><label>General: </label> </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="checkbox check-info checkbox-circle perm">
                                            <input name="permissions[allow_hint]" id="hint" type="checkbox" value="1">
                                            <label for="hint">Allow Hint</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="checkbox check-info checkbox-circle perm">
                                            <input name="permissions[randomize]" id="random" type="checkbox" {{defaultRandomize}} value="1">
                                            <label for="random">Randomize Order</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="checkbox check-info checkbox-circle perm">
                                            <input name="permissions[disable_quiz_replay]" id="marks" type="checkbox" value="1">
                                            <label for="marks">Disable Quiz Replay</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="checkbox check-info checkbox-circle perm">
                                            <input name="permissions[single_attempt]" id="attempt" type="checkbox" value="1">
                                            <label for="attempt">Allow Skip</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3"><label>Show answer: </label> </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="checkbox check-info checkbox-circle perm radioCheck">
                                            <input name="permissions[allow_resubmit]" id="resubmit" type="checkbox" value="1">
                                            <label for="resubmit">Allow Resubmit</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="checkbox check-info checkbox-circle perm radioCheck">
                                            <input name="permissions[display_answer]" id="answer" type="checkbox" value="1" checked>
                                            <label for="answer">Display Answer</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input class="col-sm-2" name="permissions[displayAfterDays]" type="number" id="replaydays" min="0" value="1">
                                        <input class="col-sm-4" name="permissions[displayAfterHours]" id="replayhours" type="text" value="00:00:00">
                                        <label class="col-sm-6" for="answer">Display After(days/hours)</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" id="customMsg">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="collapsed"> &nbsp;
                                    Custom Messages
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapseTwo">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="small-text customMsgLink" data-slug="end_quiz">
                                            <a  data-toggle="modal">End Quiz Popup</a></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="small-text customMsgLink" data-slug="correct_answer">
                                            <a  data-toggle="modal">Correct answer</a></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="small-text customMsgLink" data-slug="incorrect_answer">
                                            <a  data-toggle="modal">Incorrect answer</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="small-text customMsgLink" data-slug="partial_correct_answers">
                                            <a  data-toggle="modal">Partial correct answers</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t-15">
                                    <div class="col-sm-3">
                                        <div class="small-text customMsgLink" data-slug="incomplete_answer">
                                            <a data-toggle="modal">Incomplete answer</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="small-text customMsgLink" data-slug="submit_without_attempting">
                                            <a href="#msgModal" data-toggle="modal">Submit without attempting</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/isQuiz}}


        <div class="row">
        	<div class="col-sm-12">
        		<button type="submit" class="btn btn-success btn-cons2 right pull-right m-t-10" id="save-content-collection"> 
                <i class="fa fa-check"></i> 
                Save</button>
        	</div>
        </div>
	</div>
</form>