<div class="grid-title no-border">
	<h4 class="">Lecture <span class="semi-bold">ABC</span></h4>
	<div class="tools">
		<a href="javascript:;" class="collapse"></a>
	</div>
	</div>
	<div class="grid-body no-border" style="overflow: hidden; display: block;">
	<div class="row ">
		<div class="col-md-4">
		    <div class="margin-bottom-20 ">
				<label class="form-label">Objective</label>
				<input name="" id="" type="text" class="form-control" placeholder="Enter Objective">
				</div>
		</div>
		<div class="col-md-4">
		    <div class="margin-bottom-20 ">
				<label class="form-label">Physical Requirements</label>
				<textarea class="form-control" placeholder="Enter Physical Requirements"></textarea>
			</div>
		</div>
		<div class="col-md-4">
		    <div class="margin-bottom-20 ">
				<label class="form-label">Subject</label>
				<input name="" id="" type="text" class="form-control" placeholder="Enter Subject">
			</div>
		</div>												 
	</div>
	<div class="row ">
			<div class="col-md-4">
			   <div class="margin-bottom-20 ">
				<label class="form-label">Description</label>
				<textarea class="form-control" placeholder="Enter Description"></textarea>
			</div>
		</div>
		<div class="col-md-4">
		    <div class="margin-bottom-20 ">
				<label class="form-label">Electronic Requirements</label>
				<textarea class="form-control" placeholder="Enter Electronic Requirements"></textarea>
			</div>
		</div>
		<div class="col-md-4">
		    <div class="margin-bottom-20 ">
				<label class="form-label">Chapter</label>
				<input name="" id="" type="text" class="form-control" placeholder="Enter Chapter">
			</div>
		</div>											 
	</div>
	<button type="button" class="btn btn-success btn-cons2 right" id="save-question"> <i class="fa fa-check"></i> Save</button>
</div>