<div class="col-md-12">
          <div class="tiles white">
                  <div class="tiles-body">

                    <div class="row">

                      <div class="col-sm-5 b-grey b-r">
                        <h3 class="semi-bold text-center">Sync</h3>

                        <div class="row">
                          <div class="col-sm-12  m-b-10">
                            <div class="">
                              <h5 id="totalRecordsToBeSynced" class="m-t-10 bold text-center text-error">Records to be synced</h5>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-12  m-b-10">
                            <div class="">
                              <button id="syncStartContinue" type="button" class="btn btn-success h-center block"><span id="syncButtonText" class="bold">Start</span></button>
                              
                              <h5 id="syncSuccess" class="m-t-5 semi-bold text-center text-success" style="display:none">Success</h5>
                              
                              <h5 id="syncError" class="m-t-5 semi-bold text-center text-error" style="display:none">Error</h5>

                              <div id="networkConnectionUpload" style="display:none" class="alert alert-error m-t-10 m-b-0 text-center semi-bold animated bounceIn"><span class="fa-exclamation-trianglea fa-exclamation-triangle"></span>&nbsp;&nbsp;No Internet Connection
                              </div>

                              <!-- <div id="syncProgress" data-percentage="0%" style="width: 45%;" class="progress-bar progress-bar-success"></div> -->
                            </div>
                          </div>
                        </div>

                        </div>

                      </div>
              </div>
                    
      </div>
</div>