<div class="col-md-3">
        </div>
        <div class="col-md-6">
          <div class="tiles white">
                  <div class="tiles-body">
                    <h3 class="bold m-b-25">Sync</h3>

                    <div class="row">
                      <div class="col-sm-6 b-grey b-r ">
                        <h4 class="semi-bold text-center b-grey b-b no-margin p-t-20 p-b-10">Last Sync</h4>
                        <div class="b-grey b-b">
                          <h2 class="m-b-0 semi-bold text-center text-success">21/06/14</h2>
                          <h5 class="m-t-0 text-center text-success">08:36 PM</h5>
                        </div>
                      </div>

                      <div class="col-sm-6 b-grey ">
                        <h4 class="semi-bold text-center b-grey b-b no-margin p-t-20 p-b-10">Records to be synced</h4>
                        <div class="b-grey b-b">
                          <h2 id="SyncRecords" class="m-b-0 semi-bold text-center text-error animate-number" data-value="423" data-animation-duration="1000"></h2>
                          <h5 class="m-t-0 text-center text-error">records</h5>
                        </div>
                      </div>
                    </div>


                    <div class="row m-t-25">
                      <div class="col-sm-12">
                        <button id="JsonToCSV" type="button" class="btn btn-primary btn-block"> Generate file</button>
                        <button id="CSVupload" type="button" class="btn btn-primary btn-block" disabled="true"> Upload File</button>
                        <button id="syncNow" type="button" class="btn btn-primary btn-block"> Sync Now</button>

                        <div class="alert alert-info text-center m-t-10">
                          <i class="fa fa-refresh"></i>
                          <span id="syncText"> Syncing now... </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
        <div class="col-md-3">
        </div>