<div class="col-md-12">
          <div class="tiles white">
                  <div class="tiles-body">
                    <!-- <h2 class="bold m-b-25 text-center">Sync</h2> -->

                    <div class="row">
                      <div class="col-sm-6 b-grey b-r ">
                        <h3 class="semi-bold text-center">Sync Download <span class="fa fa-download"></span></h3>
                        <div class="row">
                          <div class="col-sm-6 b-grey b-r">
                            <h4 class="semi-bold text-center no-margin p-t-20">Last Sync</h4>
                            <div class="">
                              <h2 class="m-b-0 semi-bold text-center text-success">21/06/14</h2>
                              <h5 class="m-t-0 text-center text-success">08:36 PM</h5>
                            </div>
                          </div>

                          <div class="col-sm-6 text-center">
                            <!-- <h4 class="semi-bold text-center b-grey b-b no-margin p-t-20 p-b-10">Records to be synced</h4>
                            <div class="b-grey b-b">
                              <h2 class="m-b-0 semi-bold text-center text-error animate-number" data-value="423" data-animation-duration="1000">423</h2>
                              <h5 class="m-t-0 text-center text-error">records</h5>
                            </div> -->
                            <p>23/5/2014 @ 05:29pm</p>
                            <p>23/5/2014 @ 05:29pm</p>
                            <p>23/5/2014 @ 05:29pm</p>
                            <p>23/5/2014 @ 05:29pm</p>
                            <p>23/5/2014 @ 05:29pm</p>
                            <button type="button" class="btn btn-white btn-block btn-xs btn-mini">Close</button>
                          </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-block m-t-10"> <span class="bold"><span class="fa fa-refresh"></span> Sync</span></button>
                      </div>

                      <div class="col-sm-6">
                        <h3 class="semi-bold text-center">Sync Upload <span class="fa fa-upload"></span></h3>
                        <div class="row">
                          <div class="col-sm-6 b-grey b-r">
                            <h4 class="semi-bold text-center no-margin p-t-20">Last Sync</h4>
                            <div class="">
                              <h2 class="m-b-0 semi-bold text-center text-success">21/06/14</h2>
                              <h5 class="m-t-0 text-center text-success">08:36 PM</h5>
                            </div>
                          </div>

                          <div class="col-sm-6 b-grey text-center">
                            <!-- <h4 class="semi-bold text-center b-grey b-b no-margin p-t-20 p-b-10">Records to be synced</h4>
                            <div class="b-grey b-b">
                              <h2 class="m-b-0 semi-bold text-center text-error animate-number" data-value="423" data-animation-duration="1000">423</h2>
                              <h5 class="m-t-0 text-center text-error">records</h5>
                            </div> -->
                            <!-- <button type="button" class="btn btn-success btn-block m-t-50"><i class="fa fa-eye"></i>&nbsp;&nbsp;<span class="">View last 5 uploads</span></button> -->
                            <p>23/5/2014 @ 05:29pm</p>
                            <p>23/5/2014 @ 05:29pm</p>
                            <p>23/5/2014 @ 05:29pm</p>
                            <p>23/5/2014 @ 05:29pm</p>
                            <p>23/5/2014 @ 05:29pm</p>
                            <button type="button" class="btn btn-white btn-block btn-xs btn-mini">Close</button>
                            
                          </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-block m-t-10"> <span class="bold"><span class="fa fa-refresh"></span> Sync</span></button>
                      </div>
                    </div>

                    <!-- <div class="row m-t-25">
                      <div class="col-sm-12">
                        <div class="alert alert-info text-center m-t-10">
                          <i class="fa fa-refresh fa-spin"></i> Sync in progress. 
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
        </div>     