<div class="col-md-12">
          <div class="tiles white">
                  <div class="tiles-body">
                    <!-- <h2 class="bold m-b-25 text-center">Sync</h2> -->

                    <div class="row">
                      <div class="col-sm-6 b-grey b-r ">
                        <h3 class="semi-bold text-center">Sync Download <span class="fa fa-download"></span></h3>
                        <div class="row">
                          <div class="col-sm-12 b-grey b-r m-b-10">
                            <h5 class="semi-bold text-center no-margin p-t-20">Get Files</h5>
                            <div class="">
                              <h5 class="m-t-5 semi-bold text-center text-success">Last Download: 13/05/2014 @ 08:36 PM</h5>
                              <button type="button" class="btn btn-success btn-sm btn-small h-center block"><span class="bold">Download Now</span></button>
                              <div class="progress progress-striped active progress-small h-center m-t-5">
                                <div data-percentage="0%" style="width: 45%;" class="progress-bar progress-bar-success"></div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-12 b-grey b-r m-b-10">
                            <h5 class="semi-bold text-center no-margin p-t-20">Import Files</h5>
                            <div class="">
                              <h5 class="m-t-5 semi-bold text-center text-success">Last Import: 13/05/2014 @ 08:36 PM</h5>
                              <button type="button" class="btn btn-success btn-sm btn-small h-center block"><span class="bold">Import Now</span></button>
                              <div class="progress progress-striped active progress-small h-center m-t-5">
                                <div data-percentage="0%" style="width: 45%;" class="progress-bar progress-bar-success"></div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="col-sm-6">
                        <h3 class="semi-bold text-center">Sync Upload <span class="fa fa-upload"></span></h3>
                        <div class="row">
                            <div class="m-t-55">
                              <h5 class="semi-bold text-center no-margin p-t-20 ">Upload Progress</h5>
                              <div class="progress progress-striped active progress-small h-center m-t-10">
                                <div data-percentage="0%" style="width: 45%;" class="progress-bar progress-bar-success"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- <div class="row m-t-25">
                      <div class="col-sm-12">
                        <div class="alert alert-info text-center m-t-10">
                          <i class="fa fa-refresh fa-spin"></i> Sync in progress. 
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
        </div>     