<div class="tiles white grid simple vertical green">
	<div class="grid-title no-border">
		<h4 class="">5 <span class="semi-bold">A</span></h4>
		<div class="tools">
			<a href="javascript:;" class="collapse"></a>
		</div>
		</div>
		<div class="grid-body no-border" style="overflow: hidden; display: block;">
		<div class="row ">
			<div class="col-md-4">
			    <div class="margin-bottom-20 ">
					<label class="form-label">Number of Students</label>
					18
				</div>
			</div>
			<div class="col-md-4">
			    <div class="margin-bottom-20 ">
					<label class="form-label">Subjects</label>
					Chemistry, Biology
				</div>
			</div>
			<div class="col-md-4">
			    <div class="margin-bottom-20 ">
					<!-- <label class="form-label">Physical Requirements</label>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. -->
				</div>
			</div>												 
		</div>
	</div>
</div>

<div id="Filters" class="pull-left">
			<div class="btn-group"> <a href="#" data-toggle="dropdown" class="btn dropdown-toggle btn-demo-space"> <span class="anim150">Status</span> <span class="caret"></span> </a>
				<ul class="dropdown-menu">
					<li class="active" data-filter="all" data-dimension="status"><a href="#">All</a></li>
				</ul>
			</div>

	</div>
		<div class="clearfix"></div>

		<div class="just list" id="textbooks">
			<!-- "TABLE" HEADER CONTAINING SORT BUTTONS (HIDDEN IN GRID MODE)-->
			<div class="list_header">
				<div class="meta name active desc" id="SortByName"> 
					Name &nbsp; 
					<span class="sort anim150 asc active" data-sort="data-name" data-order="desc"></span> 
					<span class="sort anim150 desc" data-sort="data-name" data-order="asc"></span> 
				</div>

				<div class="meta modules">Modules 
					<span class="sort anim150 asc" data-sort="data-modules" data-order="desc"></span> 
					<span class="sort anim150 desc" data-sort="data-modules" data-order="asc"></span>
				</div>

				<div class="meta rec">Status</div>
			</div>

			<div class="fail_element anim250">Sorry &mdash; we could not find any Textbooks matching matching these criteria</div>
			<!-- BEGIN LIST OF textbooks (MANY OF THESE ELEMENTS ARE VISIBLE ONLY IN LIST MODE)-->
			<ul class="textbooks_list">
			</ul>
	</div>