form
	input(type="hidden" name="meta_id")
	input(type="hidden" name="element")
.element-controls
	.aj-imp-drag-handle
		p(title="Move"): span.bicon.icon-uniF140
	.aj-imp-delete-btn
		span(title="Delete") &times;
	.aj-imp-settings-btn
		span.glyphicon.glyphicon-cog(title="Settings")
.element-markup
	span