@import "icomoon.css";
@import "variables.less";
@import "mixins.less";
@import "fonts.less";
@import "builder.less";
//@import "mashmenu.less";
@import "checkbox.less";
@import "fib.less";
@import "mcq.less";
@import "sort.less";
@import "q-a.less";
@import "single-question.less";
@import "textbook.less";
@import "chapters.less";
//@import "class.less";
@import "training.less";
@import "module.less";
@import "teacher.less";

body{
	background-color: @body-bg;
	overflow-y: scroll;
	height: 100%;
}

#site_main_container{
	opacity: 0;
	&.showAll{
		opacity:1;
		.fadein;
	}
}

.header{
	.quick-section2{		
		margin-top: 16px;
		margin-right: 10px;
		display: inline-block;
		float: left;
	}
}
 
.logo {
	margin: 18px 32px;
}

.header-seperation{
	background-color: darken(@color-primary, 10%)
}

.page-sidebar{
	background-color: darken(@color-primary, 10%) !important;
	&.mini{
		background-color: darken(@color-primary, 10%) !important;
	}

	.page-sidebar-wrapper > ul > li{
		&>a, &> a i, &> a .arrow, &> a .arrow.open:before{
			color: @color-white !important;
		}
		&.open > a{
			background-color: @color-primary !important;
		}
	}

	.page-sidebar-wrapper > ul > li:hover >a{
		background-color: @color-primary;
	}

	.page-sidebar-wrapper > ul > li > ul.sub-menu{
		background-color: @color-primary;

		&> li > a:hover{
			background-color: darken(@color-primary, 5%) !important;
		}
	}
}

#walnutProfile{
	.user{
		font-size: 20px;
		color: @dash-grey;
		padding: 20px 20px 5px;
	}
	.appLogout{
		padding: 5px 22px;
		width: 100%;
		display: block;
		color: @color-white;
		border-top: 1px solid lighten(@3-grey, 5%);
		border-bottom: 1px solid lighten(@3-grey, 5%);
		&:hover{
			color: lighten(@dash-grey, 5%);
		}
	}
}

tbody.rowlink{
	td{
		cursor: pointer;
	}
}

.form-chptrAdd{
	margin-bottom: 10px;
}

.scrollup{
	left:auto;
	right:50px;
}

.tiles-head{
	padding: 10px 18px 5px 24px;
}

// .mashmenu .mod .mod-content,.mashmenu .menu .sub-content{border-bottom-color:@color-info}
// .mashmenu .mod:hover a,.mashmenu .menu li.level0:hover>a,.mashmenu .menu .sub-channel li a,.mashmenu .menu li.level0:hover .sub-channel li.hover a .fa-chevron-right,.mashmenu .columns .list a{color:#2AA4CF}
// .mashmenu .mod .mod-content,.mashmenu .mod:hover,.mashmenu .menu li.level0:hover>a,.mashmenu .menu li.level0:hover .sub-channel li.hover a{background-color:@color-white}
// .mashmenu .mlogo:hover{background:none}
// .mashmenu .sub-channel{background-color:#C7E6F5}

// .mashmenu{
// 	position: relative;
// 	z-index: 1;
// 	margin-bottom: 25px;
// 	//background: @color-green;
// 	background: @color-info;

// 	div.mlogo{
// 		margin-left: 10px;
// 	}

// 	.menu{
// 		.sub-content{
// 			background-color: @color-white;
// 			padding: 20px;

// 		}
// 	}

// 	.wrapper{
// 		width: auto;
// 		min-height: 400px;
// 	}

// 	.filters{
// 		select{
// 			width: 30%;
// 			margin-right: 5px;
// 		}
// 		.table-tools-actions {
// 			margin: 0;
// 			}
// 	}
// }

@media(max-width:767px){
	.login-container{
		margin-top: 20px !important; /*For mobile app testing*/
	}
}

.contentSelect{
	select{
		width: 24%;
		margin-right: 5px;
	}
}

textarea.error, .select2-choice.error {
	border:1px solid @color-danger !important;
}

.page-content .content{
	//overflow-y: auto;
}

.mainLogo{
	//background: url(../../../images/logo-synapse.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	img{
		width: 85px;
		height: 85px;
		margin: 0 auto 15px;
		display: block;
	}
}

.smallLogo{
	//background: url('../img/logo-synapse.png');
	background: url(../../../images/logo-synapse.png);
	width: 35px;
	height: 35px;
	margin: 0 auto;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: left center;
}

/*App Highlight Color*/
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: @color-info !important; 
    //outline: none !important;
}

.input-with-icon i{
	margin: 11px 2px 4px 10px;
	color: darken(@dash-grey, 5%);
}

/*Login Switch*/
.switch {
  position: relative;
  margin: 0 auto;
  height: 25px;
  width: 120px;
  background: darken(@color-white, 5%);
  border-radius: 3px;
  // -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  // box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 60px;
  line-height: 24px;
  font-size: 13px;
  color: lighten(@dash-grey, 10%);
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.45);
  cursor: pointer;
}

.switch-label:active {
  //font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
  //font-weight: bold;
  color: @color-white;
  //text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
  /* Note: left: 50% doesn't transition in WebKit */
  left: 60px;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 60px;
  height: 25px;
  background: @dash-grey;
  border-radius: 3px;
  // background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
  // background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
  // background-image: -o-linear-gradient(top, #9dd993, #65bd63);
  // background-image: linear-gradient(to bottom, #9dd993, #65bd63);
  // -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  // box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}