@import "variables.less";
@import "mixins.less";
@import "builder.less";
@import "chapters.less";
@import "class.less";
@import "training.less";

body{
	background-color: @body-bg;
}

#site_main_container{
	opacity: 0;
	&.showAll{
		opacity:1;
		.fadein;
	}
}

.header{
	.quick-section2{
		
		margin-top: 16px;
		margin-right: 10px;
		display: inline-block;
		float: left;
	}
}
 
.logo {
	margin: 18px 32px;
}

.header-seperation{
	background-color: darken(@color-primary, 10%)
}

.page-sidebar{
	background-color: darken(@color-primary, 10%) !important;
	&.mini{
		background-color: darken(@color-primary, 10%) !important;
	}

	.page-sidebar-wrapper > ul > li{
		&>a, &> a i, &> a .arrow, &> a .arrow.open:before{
			color: #fff !important;
		}
		&.open > a{
			background-color: @color-primary !important;
		}
	}

	.page-sidebar-wrapper > ul > li:hover >a{
		background-color: @color-primary;
	}

	.page-sidebar-wrapper > ul > li > ul.sub-menu{
		background-color: @color-primary;

		&> li > a:hover{
			background-color: darken(@color-primary, 5%) !important;
		}
	}
}

#textbooks.list{
	.list_header .meta{
		margin-top: 0;
		span{
			margin-top: 0;
			width: 15px;
			&:after{
				left:2px;
			}
		}
	}	
	.meta.name{
		width: 30%;
	}
	.meta.area{
		width: 15%;
	}
	.meta{
		//width: 210px;
		width: 20%;
		padding: 0 2% 0 2%;
		float: left;
		}
	.img_wrapper{
		//width: 125px;
		width: 40%;
		float: left;
		height: 65px;
		margin-right: 10px;
	}
	.titles{
		vertical-align: top;
		width: 54%;
		float: left;
		word-break: break-word;
		h2{
			letter-spacing: 1px;
		}
	}
}

tbody.rowlink{
	td{
		cursor: pointer;
	}
}

.form-chptrAdd{
	margin-bottom: 10px;
}

.scrollup{
	left:auto;
	right:50px;
}

.tiles-head{
	padding: 10px 18px 5px 24px;
}

.mashmenu .mod .mod-content,.mashmenu .menu .sub-content{border-bottom-color:@color-info}
.mashmenu .mod:hover a,.mashmenu .menu li.level0:hover>a,.mashmenu .menu .sub-channel li a,.mashmenu .menu li.level0:hover .sub-channel li.hover a .fa-chevron-right,.mashmenu .columns .list a{color:#2AA4CF}
.mashmenu .mod .mod-content,.mashmenu .mod:hover,.mashmenu .menu li.level0:hover>a,.mashmenu .menu li.level0:hover .sub-channel li.hover a{background-color:#fff}
.mashmenu .mlogo:hover{background:none}
.mashmenu .sub-channel{background-color:#C7E6F5}

.mashmenu{
	position: relative;
	z-index: 1;
	margin-bottom: 25px;
	//background: @color-green;
	background: @color-info;

	div.mlogo{
		margin-left: 10px;
	}

	.menu{
		.sub-content{
			background-color: #fff;
			padding: 20px;

		}
	}

	.wrapper{
		width: auto;
		min-height: 400px;
	}

	.filters{
		select{
			width: 30%;
			margin-right: 5px;
		}
		.table-tools-actions {
			margin: 0;
			}
	}
}

@media(max-width:767px){
	.login-container{
		margin-top: 20px !important; /*For mobile app testing*/
	}
}

#myCanvas-miki{

	.cbp_tmlabel{
		cursor: pointer;
		a{
			color: @color-primary;
		}
		.tools{
			display: inline-block;
			padding: 0;
			margin: 0;
			position: relative;
			float: right;
			&> a{
				position: relative;
				display: inline-block;
				margin-left: 5px;
				font-size: 16px;
				width: 15px;
				height: 15px;
				color: darken(@body-bg, 20%);
				&.remove{
					&:before{
						content: "\f00d";
						font-family: FontAwesome;
					}
				}
				&.config{
					&:before{
						content: "\f013";
						font-family: FontAwesome;
					}
				}
			}
		} 
	}

	.cbp_tmtimeline > li{
		.contentPiece, .cbp_tmlabel{
			cursor: move;
			.cbp_tmicon{
				top:auto;
			}
		}
	}
}

.contentSelect{
	select{
		width: 24%;
		margin-right: 5px;
	}
}




