#myCanvas-miki{

	.cbp_tmlabel{
		a{
			color: @color-primary;
		}
		.tools{
			display: inline-block;
			padding: 0;
			margin: 0;
			position: relative;
			float: right;
			&> a{
				position: relative;
				display: inline-block;
				margin-left: 5px;
				font-size: 16px;
				width: 15px;
				height: 15px;
				color: darken(@body-bg, 20%);
				&.remove{
					&:before{
						content: "\f00d";
						font-family: FontAwesome;
					}
				}
				&.config{
					&:before{
						content: "\f013";
						font-family: FontAwesome;
					}
				}
			}
		}

		&.done{
			background-color: @preview-grey;
			a{
				color: lighten(@color-primary, 5%);
			}
			.tiles.grey{
				border-top: 1px solid @color-white;
			}
		} 
	}

	.cbp_tmtimeline > li{
		.contentPiece, .cbp_tmlabel{
			cursor: move;
			.cbp_tmicon{
				top:auto;
			}
		}

		.cbp_tmlabel.view{
			cursor: pointer;
		}

		.cbp_tmlabel.done:after{
			border-right-color: @preview-grey;
		}
	}
}