
.panel-default > .panel-heading{
	background-color: transparent;
	&.collapsed{
		background-color: transparent;
	}
}

li.setGroup{
	margin-bottom: 20px;
	//padding: 5px 20px 5px 5px;
	.abc{
		margin-bottom: 2px;
		&:not(:first-child):after{
			display: none;
		}
	}
}

