
.panel-default > .panel-heading{
	background-color: transparent;
	&.collapsed{
		background-color: transparent;
	}
}

.cbp_tmtimeline{
	li.setGroup{
		margin-bottom: 20px;
		//padding: 5px 20px 5px 5px;
		.cbp_tmlabel{
			margin-bottom: 2px;
			padding: 10px;
			&:not(:first-child):after{
				//display: none;
			}
		}
	}
}

.quizWrong{
	font-size: 25px;
}

.quizTimer {
	//max-width: 190px;
	margin: 0 auto 0;
}

.quizActions{
	max-width: 760px;
}


.timerBox, .quizProgress{
	width: 250px;
	background: @color-white;
}



