.container-grey{
	background: @preview-grey;
	border: 1px solid lighten(@dash-grey, 10%);
	box-shadow: darken(@preview-grey, 10%) 0 0 0 3px inset;
}

.hashtags{
	font-size: 13px;
}

.moduleInfo{
	background: @preview-grey;
	border-bottom: 1px solid lighten(@dash-grey, 10%);
	// box-shadow: darken(@preview-grey, 10%) 0 0 0 3px inset;
	.btn{
		white-space: normal;
	}
}

.cpTimer{
	//max-width: 190px;
	//height: 100px;
	margin: 10px auto 0;
	// color: @color-white;
	.textDiv_Seconds{
		span{
			opacity: 0.3;
		}
	}
}

.time_circles{
	// position: static;
	// display: table-cell;
	// height: 120px;
	// canvas{
	// 	margin-bottom: -80px;
	// 	display: table-cell;
	// }
	// & > div{
	// 	position: static;
	// 	display: table-cell;
	// }
}

.is-countdown{
	font-weight: 300;
	padding: 10px 10px 20px;
	&:after{
		clear: both;
		content: " "; /* 1 */
    	display: table; /* 2 */
	}	
}

.countdown-row {
	width: 100%;
	// padding: 0px 2px;
	text-align: center;
	.countdown-section {
		width: 49%;
	}
}
.countdown-amount {
	color: @color-success;
    font-size: 200%;
}
.countdown-section {
	display: block;
	float: left;
	font-size: 18px;
	text-align: center;
	&:last-child{
		.countdown-amount{
			opacity: 0.2;
		}
    }
}
.countdown-period {
    display: block;
}

.negative{
	.countdown-amount{
		color: @color-danger;
	}
}

.modInfo, .qstnInfo{
	cursor: pointer;
}

.qstnStatus{
	color: @color-success;
	font-size: 25px;
	i{
		font-size: 22px;
	}
}

#content-board{
	margin-top: 15px;
	margin-left: 220px;
	margin-right: 220px;
	margin-bottom: 50px;
	overflow-x: auto;
	.element-wrapper{
		border: none;
		padding: 0 7px;
		margin: 2px 0 15px;
	}

	.imagewithtext{
		.image-placeholder{
			cursor: default;
			position: static;
		}
		img{
			position: static;
			cursor: default;
		}
	}

	.video > *{
		-webkit-overflow-scrolling: touch;
		-webkit-transform: translateZ(0px);
		-webkit-transform: translate3d(0,0,0);
	}
}

.contentTime{
	// float: left;
	left: 5px;
}

.contentInfo{
	// float: right;
	right: 5px;
	padding: 20px 20px 10px;
}

.contentTime, .contentInfo{
	width: 235px;
	// background: darken(@preview-grey, 15%);
	.container-grey;
	// margin: 0 1.5%;
	position: absolute;
}

.qstnInfo{
	max-width: 760px;
	margin: auto;
	margin-bottom: 5px;
	padding: 10px 10px 10px 20px;
}

@media (min-width: 1020px) and (max-width:1295px){
	#content-board{
		margin: 0;
		margin-top: 15px;
	}
	#myCanvas{
		margin: 0;
		margin-left: auto;
	}
	#top-panel{
		float: left;
		margin-left: 2px;
	}
	.contentTime, .contentInfo{
		// margin: 0;
		// left: 5px;
		position: static;
		float: none;
		margin: 0 1.5%;
	}
	.contentTime{
		margin-bottom: 8px;
	}
	.contentInfo{
		// top: 175px;
	}
	.qstnInfo{
		margin: 0;
		margin-bottom: 5px;
		margin-left: auto;
	}
}
.answrMsg{
	&.alert-success{
		h3{
			color: @color-success - @dark;
		}
	}
	&.alert-error{
		h3{
			color: @color-danger - @dark;
		}
	}
	&.alert-info{
		h3{
			color: @color-info - @dark;
		}
	}
}

.page-content.expand-page{
	margin-left: 0;
	.content{
		padding: 0;
	}
}

#module-details-region{
	
	&.condensed{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 5;
		.moduleInfo > div{
			padding: 0;
			.modTime{
				display: none;
			}
			.modTime.next, .modTime.pause{
				display: block;
				float: right;
				padding: 0 10px 5px;
				.btn{
					margin-top: 5px;
				}
			}
			.modTime.pause{
				float: left;
				h4{
					font-size: 17px;
					line-height: 22px;
				}
			}
		}

	}
}




/*.answrRight{
	background: url(../../../images/answer.png) no-repeat;
	width: 45px;
	height: 34px;
	background-position: 0 0;
	float: left;
	background-size: 78px 34px;
	margin-left: 8px;
}

.answrWrong{
	background: url(../../../images/answer.png) no-repeat;
	width: 38px;
	height: 34px;
	background-position: -48px 0;
	float: left;
	background-size: 82px 34px;
	margin-left: 8px;
}*/
