
.hashtags{
	font-size: 13px;
}

#content-board{
	.element-wrapper{
		border: none;
	}
}

.answrMsg{
	&.alert-success{
		h3{
			color: @color-success - @dark;
		}
	}
	&.alert-error{
		h3{
			color: @color-danger - @dark;
		}
	}
	&.alert-info{
		h3{
			color: @color-info - @dark;
		}
	}
}

.answrRight{
	background: url(../../../images/underline.gif) no-repeat;
	width: 25px;
	height: 25px;
}
