.teacherCanvas{
	background-color: #fff;
	position: relative;
	min-height: 200px;

}

.studntBtn{
	position: absolute;
	right: 0;
	top: 8%;
}

.infoBar{
	width: 100%;
	background-color: @preview-grey;
	//height: 80px;
	//padding: 10px 10px 0;
}
