
<header class="settings-header">
  <div class="row">
    <div class="col-sm-10">
      <h5 class="title">{{element}} Settings</h5>
    </div>
    <div class="col-sm-2 close-btn"><a href="#" class="close-settings">&times;</a></div>
  </div>
</header>
<div class="row">
  <div class="col-sm-12">
    <form action="" method="POST" role="form" class="form-horizontal">
      <div class="form-group">
        <label for="" class="col-sm-4 control-label">Draggable</label>
        <div class="col-sm-8"><span class="checkbox">
            <input type="checkbox" name="draggable"/></span></div>
      </div>
    </form>
  </div>
</div>