<div class="col-md-5">
	<div id="textbook-description-region"></div>	
</div>
<div class="col-md-7">
{{#isAdmin}}
	<div id="Filters" class="pull-right">
		<button class="add-chapter btn-default btn" type="button">Add Chapter</button>
	</div>
{{/isAdmin}}
	<div class="pull-right" style="margin-right:2%">Chapters: 
	<input type="text" class="search-box" id="search-box">
	<button class="btn btn-success btn-cons2" id="search-btn">
		<i class="none progress-spinner fa fa-spinner fa-spin"></i> Search
	</button> 
	<label id="error-div" class="none">
	<span class="small text-error">Please enter the search keyword</span>
	</label>
</div>
	<div id="chapters-list-region" class="listBox"></div>
</div>