<div class="content">
			<ul class="breadcrumb">
				<li>
				  <p>Dashboard</p>
				</li>
				<li>
				  <a href="#"> Content Management</a>
				</li>
				<li>
				  <a href="#"> Textbooks</a>
				</li>
				<li><a href="#" class="active"> Textbook ABC</a> </li>
			</ul>
			<!-- BEGIN PlACE PAGE CONTENT HERE -->
			<div class="row">
				<div class="col-lg-5">
					<div id="textbook-description-region"></div>	
				</div>
				<div class="col-lg-7">
					<div id="chapters-list-region" class="listBox"></div>
				</div>
			</div>
			<!-- END PLACE PAGE CONTENT HERE -->
		</div>
		