<form name="content-collection-form" id="content-collection-form">
	<div class="grid-title no-border">
	<input id="group_name" class="input-lg" name="name" value="{{name}}" placeholder="Module Name" type="text" required="required" />
	<div class="tools">
		<a href="javascript:;" class="collapse"></a>
	</div>
	</div>
	<div class="grid-body no-border" style="overflow: hidden; display: block;">
		<div class="row ">
			<div class="col-md-4">
			    <div class="margin-bottom-20 ">
					<label class="form-label">Objective</label>
					<textarea id="objective" name="description[objective]" required="required" class="form-control" placeholder="Enter Objective">{{description.objective}}</textarea>
					</div>
			</div>
			<div class="col-md-4">
			    <div class="margin-bottom-20 ">
					<label class="form-label">Physical Requirements</label>
					<textarea name="description[physical_requirements]" class="form-control" placeholder="Enter Physical Requirements">{{description.physical_requirements}}</textarea>
				</div>
			</div>
			<div class="col-md-4">
			    <div class="margin-bottom-20 ">
					<label required="required" class="form-label">Textbook</label>
					<select name="term_ids[textbook]" id="textbooks" class="form-control select2" >
						<option value="">--select textbook--</option>
		                {{#textbooksFilter}}
		                	<option value="{{id}}" {{textBookSelected}}>{{name}}</option>
		                {{/textbooksFilter}}
		            </select>
				</div>
			</div>												 
		</div>
		<div class="row ">
				<div class="col-md-4">
				   <div class="margin-bottom-20 ">
					<label class="form-label">Description</label>
					<textarea id="description" name="description[description]" rows="4" class="form-control" placeholder="Enter Description">{{description.description}}</textarea>
				</div>
			</div>
			<div class="col-md-4">
			    <div class="margin-bottom-20 ">
					<label class="form-label">Electronic Requirements</label>
					<textarea id="electronic_requirements" name="description[electionic_requirements]" class="form-control" placeholder="Enter Electronic Requirements">{{description.electionic_requirements}}</textarea>
				</div>
			</div>
			<div class="col-md-4">
			    <div class="margin-bottom-20 ">
					<label class="form-label">Chapter <span class="muted small pull-right"> Select a Textbook first</span></label>
					<select name="term_ids[chapter]" id="chapters" class="form-control select2" >
						<option value="">--select chapters--</option>
		            </select>
				</div>
			</div>											 
		</div>
		<div class="row ">
            <div class="col-md-4">
               <div class="margin-bottom-20 ">
                <label class="form-label">Section <span class="muted small pull-right"> Select a Chapter first</span></label>
                <select name="term_ids[sections][]" id="secs" class="form-control select2" multiple="">
                </select>
            </div>
			</div>
			<div class="col-md-4">
			    <div class="margin-bottom-20 ">
					<label class="form-label">Sub-Sections <span class="muted small pull-right"> Select a Chapter first</span></label>
					<select name="term_ids[subsections][]" id="subsecs" class="form-control select2" multiple="">
		            </select>
				</div>
			</div>
			<div class="col-md-4">
				<label class="form-label">Duration</label>
			    	<input id="duration" name="duration" value="{{duration}}" class="pull-left" placeholder="Enter Duration" type="text" required="required" />
			    	<select style="width:120px; margin-left:10px" name="minshours" id="minshours" class="form-control select2 pull-left">
			    		<option value="mins" selected="selected">mins</option>
			    		<option value="hrs">hour(s)</option>
		            </select>

					<button type="submit" class="btn btn-success btn-cons2 right pull-right m-t-10" id="save-content-collection"> <i class="fa fa-check"></i> Save</button>
				
			</div>											 
		</div>
        <div class="row">
            <div class="col-sm-4">
                <label class="form-label">Status</label>
                <select required name="status" id="status" class="form-control select2" >
                    {{#statusOptions}}
                        <option value="{{value}}" {{statusSelected}}>{{name}}</option>
                    {{/statusOptions}}
                </select>
            </div>
        </div>
	</div>
</form>