<div class="tile-more-content no-padding">
	<div class="tiles green">
		<div class="tile-footer drag">
			FIB<i class="fa fa-chevron-right"></i> <span class="semi-bold">Fill In The Blanks Properties</span>
		</div>
		<div class="docket-body">

			

			<div>
				<input id="check-case-sensitive" type="checkbox" name="check-ind-marks"> Case Sensitive
			</div>
			
			<div>
				Font
				<select class="font" id="fib-font">
				  <option value="Arial">
				    Arial
				  </option>
				  
				  <option value="Calibri">
				    Calibri
				  </option>
				  
				  <option value="Comic Sans MS">
				    Comic Sans MS
				  </option>
				  
				  <option value="Courier">
				    Courier
				  </option>
				  
				  <option value="Georgia">
				    Georgia
				  </option>
				  
				  <option value="Helvetica">
				    Helvetica
				  </option>
				  
				  <option value="Impact">
				    Impact
				  </option>
				  
				  <option value="Lucida Console">
				    Lucida Console
				  </option>
				  
				  <option value="Lucida Sans Unicode">
				    Lucida Sans Unicode
				  </option>
				  
				  <option value="Tahoma">
				    Tahoma
				  </option>
				  
				  <option value="Times New Roman">
				    Times New Roman
				  </option>
				  
				  <option value="Trebuchet MS">
				    Trebuchet MS
				  </option>
				  
				  <option value="Verdana">
				    Verdana
				  </option>

				  <option value="Chelsea Market">
				    Chelsea Market
				  </option>
				  <option value="Indie Flower">
				    Indie Flower
				  </option>
				  <option value="Just Another Hand">
				    Just Another Hand
				  </option>
				  <option value="Sacramento">
				    Sacramento
				  </option>
				  
				</select>
			</div>

			<div class="">
        
				<div class="textProp slider success">
					Size 
					<input type="text" id="fib-fontsize" class="fontSize" data-slider-max="80" data-slider-min="12" data-slider-step="1" data-slider-value="{{font_size}}" data-slider-orientation="horizontal" data-slider-selection="before">

				</div>

			</div>

			<div>
				Marks
				<select id="marks">
					<option value="1">1</option>
					<option value="2">2</option>	
				</select>
			</div>

			
			<div class="form-group inline">
				Font-Color
				<input type="hidden" id="font-color" class="color-picker" value="{{color}}">
			</div>
			<div class="form-group inline">
				Background-Color
				<input type="hidden" id="bg-color" data-opacity="{{bg_opacity}}" class="color-picker" value={{bg_color}}>
			</div>

			<div>
				Style
				<select id="fib-style">
					<option value="uline">Underline</option>
					<option value="box">Box</option>
					<option value="blank">Blank</option>		
				</select>
			</div>
		
		</div>
	</div>
</div>