.tile-more-content.no-padding
  .tiles.green
    .tile-footer.drag
      | MCQ
      i.fa.fa-chevron-right
      span.semi-bold Multiple Choice Question Properties
    .docket-body
      #multiple-answer.radio.radio-success
        | Multiple right answers allowed?
        input#yes(type='radio', name='optionyes', value='yes')
        label(for='yes') Yes
        input#no(type='radio', name='optionyes', value='no', checked='checked')
        label(for='no') No
      .inline.m-t-5
        | Options
        select#options-num
          option(value='2') 2
          option(value='3') 3
          option(value='4') 4
          option(value='5') 5
          option(value='6') 6
          option(value='7') 7
          option(value='8') 8
      .inline
        | Columns
        select#column-num
          option(value='1') 1
          option(value='2') 2
          option(value='3') 3
          option(value='4') 4
          option(value='6') 6
      .inline
        | Marks
        select#marks
          option(value='1') 1
          option(value='2') 2
      .m-t-15
        .checkbox.check-success
          input#check-ind-marks(type='checkbox', name='check-ind-marks')
          label Marks for individual options
      #individual-marks-region
