<div class="tiles white grid simple vertical green">
	<div class="grid-title">
		<h4 class="no-margin">{{showClassLabel}}</h4>
		<!-- <div class="tools">
			<a href="javascript:;" class="collapse"></a>
		</div> -->
		</div>
		<div class="grid-body" style="overflow: hidden; display: block;">
		<div class="row ">
			<div class="col-md-3 b-grey b-r">
					<label class="form-label">Number of Students</label>
					{{showNoOfStudents}}
			</div>
			<div class="col-md-5">
					<label class="form-label">Subjects</label>
					{{showSubjectsList}}
			</div>
			<div class="col-md-4">
					<!-- <label class="form-label">Physical Requirements</label>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. -->
			</div>												 
		</div>
	</div>
</div>