<div class="meta name">
    <div class="img_wrapper"> 
      {{&thumbnail}}
    </div>
    <div class="titles">
      <h3 class="normal"><a class="textbook_titles" data-id="{{term_id}}" href="{{url}}">{{&name}}</a></h3>
      <p class="small-text">{{author}}</p>
    </div>
</div>

<div class="meta">
    <p>{{subjects}}</p>
</div>

{{#take_quiz}}
<div class="meta">
    <p>{{chapter_count}}</p>
</div>
{{/take_quiz}}

{{#take_quiz}}
    <div class="meta modules rec">
          <h4 class="b-grey b-b p-b-10 m-t-20 m-b-10">Practice Quizzes: {{practice_count}}</h4>
          <div class="chapStatus text-success"><h5 class="no-margin">Completed</h5> {{practice_completed}}</div>
          <div class="chapStatus text-info"><h5 class="no-margin">In Progress</h5> {{practice_in_progress}}</div>
          <div class="chapStatus text-error"><h5 class="no-margin">Not Started</h5> {{practice_not_started}}</div>
    </div>
    <div class="meta modules rec">
          <h4 class="b-grey b-b p-b-10 m-t-20 m-b-10">Total Quizzes: {{class_test_count}}</h4>
          <div class="chapStatus text-success"><h5 class="no-margin">Completed</h5> {{class_test_completed}}</div>
          <div class="chapStatus text-info"><h5 class="no-margin">In Progress</h5> {{class_test_in_progress}}</div>
          <div class="chapStatus text-error"><h5 class="no-margin">Not Started</h5> {{class_test_not_started}}</div>
    </div>
{{/take_quiz}}

{{^take_quiz}}
  <div class="meta modules rec">
      <h4 class="b-grey b-b p-b-10 m-t-20 m-b-10">Total Chapters: {{chapter_count}}</h4>
        <div class="chapStatus text-success"><h5 class="no-margin">Completed</h5> {{chapters_completed}}</div>
        <div class="chapStatus text-info"><h5 class="no-margin">In Progress</h5> {{chapters_in_progress}}</div>
        <div class="chapStatus text-error"><h5 class="no-margin">Not Started</h5> {{chapters_not_started}}</div>
      
  </div>
{{/take_quiz}}
<div class="clearfix"></div>