<div class="list" id="textbooks">
	<!-- "TABLE" HEADER CONTAINING SORT BUTTONS (HIDDEN IN GRID MODE)-->
	<button id="tableEntry" style="width:40px">database</button>
	<div class="list_header">
		<div class="meta name active desc" id="SortByName"> 
			Name &nbsp; 
			<span class="sort anim150 asc active" data-sort="data-name" data-order="desc"></span> 
			<span class="sort anim150 desc" data-sort="data-name" data-order="asc"></span> 
		</div>

		<div class="meta modules">Subjects
			<span class="sort anim150 asc" data-sort="data-subjects" data-order="desc"></span> 
			<span class="sort anim150 desc" data-sort="data-subjects" data-order="asc"></span>
		</div>

		{{#take_quiz}}
			<div class="meta modules">
			    Total Chapters
			</div>
		{{/take_quiz}}

		<div class="meta rec">Status
			<span class="sort anim150 asc" data-sort="data-modules" data-order="desc"></span>
			<span class="sort anim150 desc" data-sort="data-modules" data-order="asc"></span>
		</div>

		
	</div>

	<div class="fail_element anim250">Sorry &mdash; we could not find any Textbooks matching matching these criteria</div>
	<!-- BEGIN LIST OF textbooks (MANY OF THESE ELEMENTS ARE VISIBLE ONLY IN LIST MODE)-->
	<ul class="textbooks_list">
	</ul>
</div>