.aj-imp-upload-media
	span.bicon.icon-uniF10C
	#choosefiles.aj-imp-upload-message
		span.glyphicon.glyphicon-cloud-upload
		| Upload Images from your Computer
	span.small-text Upload Multiple Images by holding CTRL
	.clear
	br
	#progress.progress.progress-striped.active(style='width: 30%; margin: 0px auto; display: none;')
		.progress-bar(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100')
		span.sr-only 0% Complete 
		