  <div class="meta name">
    <div class="img_wrapper"> {{&thumbnail}}</div>
    <div class="titles">
      <h2><a class="textbook_titles" data-id="{{term_id}}" href="#textbook/{{term_id}}">{{name}}</a></h2>
      <p><em>{{author}}</em></p>
    </div>
  </div>
  
  <div class="meta class">
    <p>{{class_string}}</p>
  </div>

  <div class="meta area">
    <p>{{subject_string}}</p>
  </div>

  <div class="meta rec area">
    {{chapter_count}}
  </div>

  <div class="meta area">
    <p>{{count}}</p>
  </div
