
<form action="" method="POST" role="form">
  <h5>Edit Media</h5>
  <div class="form-group">
    <label for="">Title</label>
    <input type="text" placeholder="" value="{{title}}" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="">Caption</label>
    <input type="text" placeholder="" value="{{caption}}" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="">Alt Text</label>
    <input type="text" placeholder="" value="{{alt}}" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="">Description</label>
    <input type="text" placeholder="" value="{{description}}" class="form-control"/>
  </div>
  <button type="button" class="btn btn-primary">Save</button>
</form>