form(action='', method='POST', role='form')
	h5 Edit Media
	.form-group
		label(for='') Title
		input.form-control(type='text', placeholder='', value="{{title}}")
	.form-group
		label(for='') Caption
		input.form-control(type='text', placeholder='', value="{{caption}}")
	.form-group
		label(for='') Alt Text
		input.form-control(type='text', placeholder='', value="{{alt}}")
	.form-group
		label(for='') Description
		input.form-control(type='text', placeholder='', value="{{description}}")
	button.btn.btn-primary(type='button') Save
	
	