<div class="tiles white grid simple animated fadeIn'">
    <div class="grid-title">
        <div class="row">
            <div class="col-md-4 b-r b-grey">
                <h3 class="no-margin semi-bold">
                    <label class="form-label text-grey">Quiz Name</label>
                    {{name}} 
<!--                     {{#responseSummary}} 
                        <span class="small text-info semi-bold block m-t-5">Taken on: <span class="bold">{{taken_on_date}}</span></span>
                    {{/responseSummary}}  -->
                </h3>
            </div>
            <div class="col-md-4 b-r b-grey">
                <h3 class="no-margin semi-bold">
                    <label class="form-label text-grey">Textbook</label>
                        {{getTextbookName}}
                </h3>        
            </div>
            <div class="col-md-4">
                <h3 class="no-margin semi-bold">
                    <label class="form-label text-grey">Chapter</label>
                        {{getChapterName}}
                </h3>        
            </div>
 
        </div>        
    </div>
    
    <div class="grid-body" style="overflow: hidden; display: block;">
        <div class="row p-b-15">
            <div class="col-md-4">
                    <label class="form-label no-margin">No. of Questions: <h4 class="inline semi-bold no-margin">{{getQuestionsCount}}</h4> </label>
                    
                    {{#responseSummary}} 
                        <h3 class="semi-bold no-margin quizSummRespnse">
                            <span class="text-info small no-margin inline">You attempted: <span class="bold">{{num_questions_answered}}</span></span></h3>
                    {{/responseSummary}}
            </div>
            <div class="col-md-4">
                    <label class="form-label no-margin">Duration: <h4 class="inline semi-bold no-margin">{{total_minutes}} mins</h4></label>
                    
                    {{#incompleteQuiz}}
                        <h3 class="semi-bold no-margin quizSummRespnse">
                            <span class="text-info small no-margin inline">Current Elapsed Time: 
                            <span class="bold">
                                {{total_time_taken}}
                            </span></span><br> 
                            <span class="text-info small no-margin inline">Time remaining: 
                            <span class="bold">
                                {{time_remaining}}
                            </span></span>
                        </h3>
                    {{/incompleteQuiz}}
                    {{#responseSummary}} 
                        <h3 class="semi-bold no-margin quizSummRespnse"><span class="text-info small no-margin">Completed in: <span class="bold">{{total_time_taken}}</span></span></h3>
                    {{/responseSummary}}
            </div>
            <div class="col-md-4">
                    <label class="form-label no-margin">Marks: <h4 class="inline semi-bold no-margin">{{marks}}</h4></label>
                    
                    {{#display_marks}} 
                        <h3 class="semi-bold no-margin quizSummRespnse">
                            {{#negMarksEnable}}
                                <span class="text-success small no-margin">You scored: <span class="bold">{{marks_scored}}</span></span><br>
                                <span class="text-error small no-margin">Negative marks: <span class="bold">{{negative_scored}}</span></span><br> 
                                <span class="text-info small no-margin">Total scored: <span class="bold">{{total_marks_scored}}</span></span>
                            {{/negMarksEnable}}
                            {{^negMarksEnable}}
                                <span class="text-info small no-margin">You scored: <span class="bold">{{total_marks_scored}}</span></span>
                            {{/negMarksEnable}}
                        </h3>
                    {{/display_marks}}
            </div>
            <!--div class="col-md-3 ">
                {{#negMarksEnable}}
                    <label class="form-label no-margin">Negative Marking: <h4 class="inline semi-bold no-margin">{{negMarks}}%</h4> </label>
                {{/negMarksEnable}}
            </div-->
        </div>

        <div class="row b-grey b-t">
            <div class="col-sm-12">
                <h3 class="semi-bold"><label class="form-label text-grey">Quiz Instructions</label></h3>
                    {{&description.instruction}}
                    {{^description.instruction}}
                        This quiz has no instructions.
                    {{/description.instruction}}
            </div>
        </div>

    </div>
    
</div>


<div class="text-center">
    {{^takeQuizError}}
        <button type="button" class="btn btn-success btn-lg btn-large btn-cons2 m-r-10" id="take-quiz"> Start Quiz</button>
        {{#try_again}}
            <button type="button" class="btn btn-success btn-lg btn-large btn-cons2 m-r-10" id="try-again"> Try Again</button>
        {{/try_again}}
    {{/takeQuizError}}
    {{#takeQuizError}}
        {{takeQuizError}}
    {{/takeQuizError}}
</div>