
<ul class="nav nav-tabs">
  <li class="active all-media-tab"><a href="#all-media-region" data-toggle="tab">All Media</a></li>
  <li class="upload-tab"><a href="#upload-region" data-toggle="tab">Upload</a></li>

  <!--li: a(href="#gallery-region" data-toggle="tab") Gallery-->
</ul>
<div class="tab-content">

  <div id="all-media-region" class="tab-pane active">
    <div id="grid-region" class="col-md-9"></div>
    <div id="edit-media-region" class="col-md-3">
      <div class="pick-image p-t-50">
        <h4><span class="glyphicon glyphicon-hand-left"></span> Select an image</h4>
      </div>
    </div>
  </div>
  <div id="upload-region" class="tab-pane "></div>
  <div id="gallery-region" class="tab-pane"></div>
</div>
<div class="clearfix">
  <button class="btn btn-primary media-manager-select">Select</button>
</div>