{{#quiz_report}}
    <div class="row tiles white grid simple">
        <div class="col-md-4">
            <h4><span class="bold">Student Name: {{studentName}}</span>
            </h4>
        </div>
        <div class="col-md-4">
            <h4><span class="bold">Roll Number: {{rollNumber}}</span>
            </h4>
        </div>
    </div>
{{/quiz_report}}
<div class="teacher-app">
    {{^quiz_report}}
        {{#practice_mode}}
            <div class="well text-center">
                <h4><span class="bold">This is a practice quiz.
                    It is designed to help you train for the class tests.</span></h4>
            </div>
        {{/practice_mode}}
        {{^practice_mode}}
            <div class="well text-center">
                <h4><span class="bold">This is a class test and can be attempted just once, therefore ensure you have answered all questions before ending the quiz.</span></h4>
            </div>
        {{/practice_mode}}

    {{/quiz_report}}
    <button type="button" class="btn btn-white btn-cons goto-prev-page">
        <h4 class="bold text-info no-margin">
            <span class="fa fa-arrow-circle-left"></span>
            Back to List of Quizzes
        </h4>
    </button>
    <div id="attempts-region"></div>
    <div id="quiz-details-region"></div>
</div>
<div id="content-display-region"></div>