<div class="teacher-app">
    {{#quiz_report}}
        <div class="row tiles white simple m-b-10">
            <div class="col-md-4">
                <h4><span class="bold">Student Name: {{studentName}}</span>
                </h4>
            </div>
            <div class="col-md-4">
                <h4><span class="bold">Roll Number: {{rollNumber}}</span>
                </h4>
            </div>
        </div>
    {{/quiz_report}}
    
    {{^quiz_report}}
        {{#practice_mode}}
            <div class="well text-center">
                <h4><span class="bold">This is a practice quiz.
                    It is designed to help you train for the class tests.</span></h4>
            </div>
        {{/practice_mode}}
        {{^practice_mode}}
            <div class="well text-center">
                <h4><span class="bold">This is a class test and can be attempted just once, therefore ensure you have answered all questions before ending the quiz.</span></h4>
            </div>
        {{/practice_mode}}

    {{/quiz_report}}
    {{^studentTrainingModule}}
        <div class="direction text-center">
                <div class="icon goto-prev-page"><a href="javascript:" class="btn fab-content"><i class="fa fa-hand-o-left"></i></a></div>
                <p class="welcome-text">Go Back</p>
                <p class="welcome-text fullWidth">It's time to take a quiz</p>
        </div>
    {{/studentTrainingModule}}
    {{#studentTrainingModule}}
    <button type="button" class="btn btn-white btn-cons pull-right continue-student-training-module">
        <h4 class="bold text-info no-margin">
            <span class="fa fa-arrow-circle-right pull-right p-t-5"></span>
            Continue Training Module
        </h4>
    </button>
    {{/studentTrainingModule}}
    <div id="attempts-region" class="col-lg-10 col-lg-offset-1"></div>
    <div id="quiz-details-region" class="col-lg-10 col-lg-offset-1"></div>
</div>
<div id="content-display-region"></div>

    {{^studentTrainingModule}}
        <div class="text-center">
            <div class="col-lg-12">
                <div class="all-d-best">
                    <i class="fa fa-thumbs-o-up fa-2x"></i> <span>All the Best ...</span>
                </div>
            </div>        
        </div>    
    {{/studentTrainingModule}}

