<div class="header navbar navbar-inverse"> 
	<!-- BEGIN TOP NAVIGATION BAR -->
	<div class="navbar-inner">
		<!-- BEGIN NAVIGATION HEADER -->
		<div class="header-seperation"> 
			<!-- BEGIN MOBILE HEADER -->

			<!-- <ul style="display:none" id="main-menu-toggle-wrapper" class="nav pull-left notifcation-center">	
				<li class="dropdown">
					<a class="" href="#main-menu" id="main-menu-toggle">
						<span class="fa fa-bars"></span>
					</a>
				</li>		 
			</ul> -->

			<ul style="display:none" id="mobile-menu-toggle-wrapper" class="nav pull-left notifcation-center">	
				<li class="dropdown">
					<a class="btn btn-small btn-primary" href="#teachers/dashboard" id="main-menu-toggle"><span class="small-text">Dashboard</span>
					</a>
				</li>		 
			</ul>


			<!-- END MOBILE HEADER -->
			<!-- BEGIN LOGO -->	
			<a href="#">
				<img width="192" height="38" data-src-retina="{{logourl}}" data-src="{{logourl}}" alt="" class="logo" src="{{logourl}}">
			</a>
			<!-- END LOGO --> 
			<!-- BEGIN LOGO NAV BUTTONS -->
			<!-- <ul class="nav pull-right notifcation-center">
				<li style="display:none" id="portrait-chat-toggler" class="dropdown">
					<a class="chat-menu-toggle right-menu" href="#walnutProfile">
						<span class="bicon icon-uniF171"></span>
					</a>
				</li>
			</ul> -->
			<ul class="nav quick-section2 pull-right notifcation-center" id="gears-mob">
				<li class="quicklinks"> 
					<a id="user-options" href="#" class="dropdown-toggle pull-right" data-toggle="dropdown">	
						<span class="fa fa-gears"></span>	
					</a>
					<ul aria-labelledby="user-options" role="menu" class="dropdown-menu pull-right">
						<li><a href="#sync"><span class="fa fa-refresh"></span>&nbsp;&nbsp;Sync</a></li>
						<li class="divider"></li>                
						<li><a id="user_logout" href="javascript://"><span class="fa fa-power-off"></span>&nbsp;&nbsp;Log Out</a></li>
						<li class="divider"></li>
						<li>&nbsp;&nbsp;Audio Cues
						<a id="audioCues" href="javascript://">
							<div class="onoffswitch h-align-middle">
							  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="onOffSwitchToggle">
							  <label class="onoffswitch-label" for="onOffSwitchToggle">
							      <span class="onoffswitch-inner">
							          <span class="onoffswitch-active"><span class="onoffswitch-switch">On</span></span>
							          <span class="onoffswitch-inactive"><span class="onoffswitch-switch">Off</span></span>
							      </span>
							  </label>
							</div>
						</a>
						</li>
					</ul>
				</li>
			</ul>
			<!-- END LOGO NAV BUTTONS -->
		</div>
		<!-- END NAVIGATION HEADER -->
		<!-- BEGIN CONTENT HEADER -->
		<div class="header-quick-nav"> 
			<div id="header-left"></div>
			<div id="header-right"></div>
			
		</div> 
		<!-- END CONTENT HEADER --> 
	</div>
	<!-- END TOP NAVIGATION BAR --> 
</div>


<!-- <div id="walnutProfile">
	<div>
	    <div id="app_username" class="user">{{show_user_name}}</div>
	    <ul class="List">
	    	<li><a id="logout" class="appLogout" href="javascript://" ><i class="fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a></li>
	    </ul>
	</div>
    
</div> -->