
<div class="contentPiece" data-id="{{ID}}">

    <div class="cbp_tmicon info animated bounceIn">
        <time class="cbp_tmtime" datetime="">
            <span class="time">{{duration}} <span class="semi-bold">mins</span></span>
        </time>
     </div>
    <div class="cbp_tmlabel view" style="cursor:auto">
        <div class="p-t-15 p-l-30 p-r-15 p-b-20 xs-p-r-10 xs-p-l-10 xs-p-t-5">
          <h4 class="m-t-5 m-b-5"><a class="text-grey semi-bold question_link">{{&post_excerpt}}</a> </h4>
        </div>
        <div class="clearfix"></div>
        <div class="tiles grey show p-t-10 p-b-10 p-l-20">
            <div class="muted">
                <span class="bold question-type-div">Difficulty Level:</span> <span class="question-type-div"> {{difficulty_level}}</span>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    {{#responseStatus}}
        <div class="qstnStatus {{statusUI.divClass}} p-t-10">
            {{#display_answer}}
                <i class="fa"></i>
                <!-- <label>
                    {{&statusUI.text}} 
                </label> -->
            {{/display_answer}}

            {{#display_answer}}
                <label class="text-info">
                    Marks: <span class="bold">{{marks_obtained}}/{{total_marks}}</span>
                </label>
            {{/display_answer}}
            <label class="small-text text-grey">Time Taken: <span class="bold">{{timeTaken}}</span></label>
            {{#hint}}
                <label class="small-text text-grey ">Viewed Hint: <span class="bold">{{hint_viewed}}<span></label>
            {{/hint}}
        </div>
    {{/responseStatus}}
</div>