<div class="table-responsive">
   <table cellspacing="0" class="table table-hover style-1">
      <thead>
         <tr>
            <th><div>demo</div></th>
            <th><div>demo</div></th>
            <th><div>demo</div></th>
         </tr>
      </thead>
      <tbody>
      	<tr>
            <td><div>demo</div></td>
            <td><div>demo</div></td>
            <td><div>demo</div></td>
         </tr>      
         <tr>
            <td><div>demo</div></td>
            <td><div>demo</div></td>
            <td><div>demo</div></td>
         </tr>      
         <tr>
            <td><div>demo</div></td>
            <td><div>demo</div></td>
            <td><div>demo</div></td>  
         </tr>       
      </tbody>
   </table>
</div> 