
<div class="col-lg-12">
    <!-- <h4><span class="semi-bold">All</span> Modules</h4> -->

    <div class="change-status none small">
        Change status to: 
        <select class="form-control inline small">
            <option value="publish">Publish</option>
            <option value="archive">Archive</option>
        </select>
        <button class="btn btn-info btn-small"><i class="fa"></i> Change Status</button>
    </div>
    {{#isQuiz}}
    <div class="send-email-to-stud none small">
    <button class="send-email btn btn-success btn-small"><i class="fa"></i> Send Email</button>
    </div>
    {{/isQuiz}}
    <table class="table table-bordered m-t-10" id="content-pieces-table" >
        <thead>
        <tr>
            <th style="width:4%"><div id="check_all_div" class="checkbox check-default" style="margin-right:auto;margin-left:auto;">
                <input id="check_all" type="checkbox">
                <label for="check_all"></label>
            </div>
            <th style="width:30%">Name</th>
            {{#isQuiz}}<th>Type</th>{{/isQuiz}}
            <th>Textbook</th>
            <th>Chapter</th>
            <th>Duration</th>
            {{#isQuiz}}<th>Marks</th>{{/isQuiz}}
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody id="list-content-pieces" aria-relevant="all" aria-live="polite" role="alert" data-link="row" class="rowlink">


        </tbody>
    </table>
    <div class="change-status none small">
        Change status to: 
        <select class="form-control inline small">
            <option value="publish">Publish</option>
            <option value="archive">Archive</option>
        </select>
        <button class="btn btn-info btn-small"><i class="fa"></i> Change Status</button>
    </div>
    {{#isQuiz}}
    <div class="send-email-to-stud none small">
    <button class="send-email btn btn-success btn-small"><i class="fa"></i> Send Email</button>
    </div>
    {{/isQuiz}}
    <div id="pager" class="pager">
        <i class="cursor fa fa-chevron-left prev"></i>
        <span style="padding:0 15px"  class="pagedisplay"></span>
        <i class="cursor fa fa-chevron-right next"></i>
        <select class="pagesize">
            <option selected value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
</div>