.tile-more-content.no-padding
  .tiles.green
    .tile-footer.drag
      | Hotspot
      i.fa.fa-chevron-right
      span.semi-bold
        | Text Element
    .docket-body
      .form-group
        textarea#hotspot-textelement-text.textarea(placeholder='Enter Text here') {{getText}}
      .form-group
        select#hotspot-textelement-fontfamily.font
          option(value='Arial')
            | Arial
          option(value='Calibri')
            | Calibri
          option(value='Comic Sans MS')
            | Comic Sans MS
          option(value='Courier')
            | Courier
          option(value='Georgia')
            | Georgia
          option(value='Helvetica')
            | Helvetica
          option(value='Impact')
            | Impact
          option(value='Lucida Console')
            | Lucida Console
          option(value='Lucida Sans Unicode')
            | Lucida Sans Unicode
          option(value='Tahoma')
            | Tahoma
          option(value='Times New Roman')
            | Times New Roman
          option(value='Trebuchet MS')
            | Trebuchet MS
          option(value='Verdana')
            | Verdana
          option(value='Chelsea Market')
            | Chelsea Market
          option(value='Indie Flower')
            | Indie Flower
          option(value='Just Another Hand')
            | Just Another Hand
          option(value='Sacramento')
            | Sacramento
        .textFormat(data-toggle='buttons-checkbox')
          #font-style.btn-group
            button#bold-btn.btn
              i.fa.fa-bold
            button#italic-btn.btn
              i.fa.fa-italic
        .slide-primary
          input.ios(type='checkbox', checked='checked', name='switch', style='display: none;')
      div
        .textProp.slider.success
          | Size
          input#hotspot-textelement-fontsize.fontSize(type='text', data-slider-max='80', data-slider-step='1', data-slider-value='{{fontSize}}', data-slider-orientation='horizontal', data-slider-selection='before')
      .form-group.inline
        | Color
        input#hidden-input.fontColor(type='hidden', value='#1a45a1')
      .form-group.inline.rotateCtrl
        | Rotate
        input.dial(type='text', data-min='0', data-max='360', data-width='40', data-height='40', data-displayinput='false', data-thickness='.7', data-fgcolor='#0AA699', data-bgcolor='#d1dade', data-angleoffset='90', data-cursor='true')
      .text-right
        a#delete.text-danger.small(href='javascript:void(0)')
          i.fa.fa-trash-o
          | Delete
