<!-- BEGIN HEADER RIGHT SIDE SECTION -->
	<!-- BEGIN HEADER NAV BUTTONS -->
	<ul class="nav quick-section2">
		<!-- BEGIN SETTINGS -->
		<li class="quicklinks"> 
			<a id="user-options" href="#" class="dropdown-toggle pull-right" data-toggle="dropdown">						
				<div class="iconset top-settings-dark"></div> 	
			</a>
			<ul aria-labelledby="user-options" role="menu" class="dropdown-menu pull-right">
				<li><a href="#">My Account</a></li>
				<li class="divider"></li>                
				<li><a id="user_logout" href="javascript://"><i class="fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a></li>
			</ul>
		</li>
		<!-- END SETTINGS -->
		 
	</ul>
	<!-- END HEADER NAV BUTTONS -->
<!-- END HEADER RIGHT SIDE SECTION -->

<ul class="nav pull-right notifcation-center">

    <!-- BEGIN MOBILE CHAT TOGGLER -->
    <li style="display:none" id="portrait-chat-toggler" class="dropdown">
        <a class="chat-menu-toggle" href="#sidr">
            <div class="iconset top-chat-white"></div>
        </a>
    </li>
    <!-- END MOBILE CHAT TOGGLER -->
</ul>