
 //   _____                _                                           _   
 //  / ____|              | |           /\                            | |  
 // | |     _ __ ___  __ _| |_ ___     /  \   ___ ___ ___  _   _ _ __ | |_ 
 // | |    | '__/ _ \/ _` | __/ _ \   / /\ \ / __/ __/ _ \| | | | '_ \| __|
 // | |____| | |  __/ (_| | ||  __/  / ____ \ (_| (_| (_) | |_| | | | | |_ 
 //  \_____|_|  \___|\__,_|\__\___| /_/    \_\___\___\___/ \__,_|_| |_|\__|
                                                                        
                                                                        




// ---------------------------
// CREATE ACCOUNT STYLES -----------
// ---------------------------


.create-ac-card {
    position: relative;
    .create-ac-wrapper {
        position: absolute;
        width: 100%;
        z-index: 999;
        top: -30px;
        margin-bottom: 30px;
        .wrapped {
            .box-shadow(0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12));
            background: #fff;
            padding: 15px 15px 0 15px;
            .account-head {
                text-align: center;
                font-weight: bold;
                color: @quiz-link-color1;
            }
            .student-info, .parents-info {
                margin-bottom: 15px;
                h5 {
                    padding-left: 30px;
                    color: #602f1a;
                }
                .info {
                     select {
                        margin: 12px 0 0 0;
                        padding: 11px 0;
                        border: 0;
                        outline: none;
                        border-bottom: 1px solid #ccc;
                        width: 82%;
                        color: #928E8E;
                        background: none;
                    }
                    .mat-holder{
                        margin: 0;
                        .mat-label,.mat-input,&:after,&:before{
                            width: 80%;
                            .mandatory{
                                color: #FF0D00;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .create-ac {
                background: #f3f3f3;
                padding: 20px;
                button {
                    background: @button-2-theme;
                    color: #fff;
                    padding: 10px 25px;
                    text-transform: uppercase;
                    &:hover {
                        background: lighten(@button-2-theme, 10%);
                    }
                }
            }
        }
    }
}
