 //   ____        _       _____                 
 //  / __ \      (_)     |  __ \                
 // | |  | |_   _ _ ____ | |__) |_ _  __ _  ___ 
 // | |  | | | | | |_  / |  ___/ _` |/ _` |/ _ \
 // | |__| | |_| | |/ /  | |  | (_| | (_| |  __/
 //  \___\_\\__,_|_/___| |_|   \__,_|\__, |\___|
 //                                   __/ |     
 //                                  |___/      



 // ---------------------------
 // QUIZ PAGE STYLES -----------
 // ---------------------------
 .teacher-app {
     & > .well {
         display: none; 
     }
     .direction {
         margin: 0;
     }
     // ---------------------------
     // IF QUIZES ARE ATTEMPTED THEN DETAIL DROPDOWN -----------
     // ---------------------------
     #attempts-region {
         margin-top: 25px;
         .grid {
             &.vertical {
                 &.blue {
                     border-left: 4px solid @quiz-link-color1;
                     width: 81.5%;
    				 margin: 0 auto;
    				 @media @i-tab-landscape{
    				 	width: ~"calc(100% - 30px)";
    				 }
                 }
             }
             .grid-title, .grid-body {
                 border: 2px solid #eee;
                 padding: 10px;
                 .row {
                     label {
                         margin-bottom: 10px;
                     }
                 }
                 h4 {
                     font-size: 1.2em;
                     margin: 0;
                 }
             }
         }
         #attempts_list {
             .row {
                 .p-b-5 {
                     button {
                         background: @dashboard-color;
                         border: 0;
                     }
                 }
             }
         }
     }

     // ---------------------------
     // QUIZ CARD STYLES -----------
     // ---------------------------

     #quiz-details-region {
         margin-top: 20px;
         & > div {
             padding-bottom: 5px;
             background: #F0F0F0;
             .box-shadow(0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12));
             .grid {
                 margin-bottom: 0;
                 .grid-title, .grid-body {
                     border: 0;
                     padding: 15px;
                     border-bottom: 1px solid #eee;
                     .row{
                     	.b-grey{
                     		border-color: #eee;
                     	}
                     	& > div:last-child{
                     		.row{
                     			& > div:first-child{
                     				border-right: 1px solid #eee;
                     			}
                     		}
                     	}
                     }
                     h3 {
                         font-size: 1em;
                         color: @quiz-link-color1;
                         line-height: 20px;
                         span {
                             font-size: 0.9em;
                             line-height: 22px;
                             color: @quiz-link-color1 !important;
                         }
                     }
                     .small-text {
                         .col-md-6 {
                             color: @quiz-link-color1;
                         }
                     }
                     .form-label {
                         color: @quiz-link-color3 !important;
                         display: block;
                         text-transform: uppercase;
                         font-size: 1em;
                     }
                 }
                 .grid-body {
                     .row {
                         & > div:nth-child(-n+3) {
                             border-right: 1px solid #eee;
                         }
                         &.b-grey {
                             border-color: #eee;
                         }
                     }
                     .form-label {
                         & > h4 {
                             color: @quiz-link-color1;
                             //display: block !important;
                             margin: 12px 0 12px 10px !important;
                             font-size: 1.1em;
                         }
                     }
                     h3 {
                         & > span {
                             font-size: 0.9em;
                             line-height: 22px;
                             color: @quiz-link-color1 !important;
                         }
                     }
                     &:last-child {
                         color: @quiz-link-color1;
                     }
                 }
             }
             &:last-child {
                 #take-quiz {
                     margin: 18px 0px;
                     background: @button-1-danger;
                     .box-shadow(0px 1px 1px 5px rgba(50, 50, 50, 0.2));
                     border: 0;
                     line-height: 45px;
                     &:before, &:after {
                         display: inline-block;
                         font: normal normal normal 2.5em FontAwesome;
                         color: darken(@button-1-danger, 10%);
                     }
                     &:before {
                         content: "";
                         margin-right: 15px;
                         float: left;
                         background: url('../../images/dashboard_03.png') no-repeat;
                         width: 46px;
                         height: 46px;
                     }
                     &:after {
                         content: "\f105";
                         float: right;
                         padding-left: 15px;
                     }
                 }
             }
         }


     // ---------------------------
     // ALL THE BEST SECTION HACK -----------
     // ---------------------------

         .all-d-best{
         	    position: absolute;
			    width: 50%;
			    left: 0;
			    right: 0;
			    text-align: center;
			    margin: 0 auto;
			    top: 40px;
         }
     }
 }