@import "icomoon.css";
/*Custom Colors*/
/*Custom Mixins*/
.ease {
  -webkit-transition: all 0.3s ease-out;
  /* Chrome 1-25, Safari 3.2+ */

  -moz-transition: all 0.3s ease-out;
  /* Firefox 4-15 */

  -o-transition: all 0.3s ease-out;
  /* Opera 10.50–12.00 */

  transition: all 0.3s ease-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
.fadein {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}
.h-center {
  margin-left: auto;
  margin-right: auto;
}
.block {
  display: block;
}
.none {
  display: none;
}
@media (max-width: 1024px) {
  .nonDevice {
    display: none;
  }
}
.overlap-left-15 {
  position: absolute;
  left: -15px;
  bottom: 40%;
}
.overlap-left-15 i {
  color: #ffffff;
}
.overlap-right-15 {
  position: absolute;
  right: -15px;
  bottom: 40%;
}
.overlap-right-15 i {
  color: #ffffff;
}
.m-r-0 {
  margin-right: 0;
}
.m-l-0 {
  margin-left: 0;
}
.m-b-0 {
  margin-bottom: 0;
}
.m-t-0 {
  margin-top: 0;
}
.p-t-60 {
  padding-top: 60px;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/OpenSans-Light.ttf') format('ttf');
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/OpenSans-Light.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto'), url('../fonts/Roboto-Regular.ttf') format('ttf');
  src: local('Roboto'), local('Roboto'), url('../fonts/Roboto-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: local('Roboto Semibold'), local('Roboto-Semibold'), url('../fonts/Roboto-Semibold.ttf') format('ttf');
  src: local('Roboto Semibold'), local('Roboto-Semibold'), url('../fonts/Roboto-Semibold.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/Roboto-Bold.ttf') format('ttf');
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/Roboto-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Chelsea Market';
  font-style: normal;
  font-weight: 400;
  src: local('Chelsea Market'), local('ChelseaMarket-Regular'), url(../fonts/ChelseaMarket-Regular.eot) format('embedded-opentype');
  src: local('Chelsea Market'), local('ChelseaMarket-Regular'), url(../fonts/ChelseaMarket-Regular.ttf) format('True Type');
  src: local('Chelsea Market'), local('ChelseaMarket-Regular'), url(../fonts/ChelseaMarket-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: local('Indie Flower'), local('IndieFlower'), url(../fonts/IndieFlower.eot) format('embedded-opentype');
  src: local('Indie Flower'), local('IndieFlower'), url(../fonts/IndieFlower.ttf) format('True Type');
  src: local('Indie Flower'), local('IndieFlower'), url(../fonts/IndieFlower.woff) format('woff');
}
@font-face {
  font-family: 'Just Another Hand';
  font-style: normal;
  font-weight: 400;
  src: local('Just Another Hand'), local('JustAnotherHand-Regular'), url(../fonts/JustAnotherHand.eot) format('embedded-opentype');
  src: local('Just Another Hand'), local('JustAnotherHand-Regular'), url(../fonts/JustAnotherHand.ttf) format('True Type');
  src: local('Just Another Hand'), local('JustAnotherHand-Regular'), url(../fonts/JustAnotherHand.woff) format('woff');
}
@font-face {
  font-family: 'Sacramento';
  font-style: normal;
  font-weight: 400;
  src: local('Sacramento'), local('Sacramento-Regular'), url(../fonts/Sacramento-Regular.eot) format('embedded-opentype');
  src: local('Sacramento'), local('Sacramento-Regular'), url(../fonts/Sacramento-Regular.ttf) format('True Type');
  src: local('Sacramento'), local('Sacramento-Regular'), url(../fonts/Sacramento-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Cinzel Decorative';
  font-style: normal;
  font-weight: 400;
  src: local('CinzelDecorative'), local('CinzelDecorative-Regular'), url(../fonts/CinzelDecorative-Regular.eot) format('embedded-opentype');
  src: local('CinzelDecorative'), local('CinzelDecorative-Regular'), url(../fonts/CinzelDecorative-Regular.ttf) format('True Type');
  src: local('CinzelDecorative'), local('CinzelDecorative-Regular'), url(../fonts/CinzelDecorative-Regular.woff) format('woff');
}
.creator {
  position: relative;
}
.creator .row {
  position: relative;
}
.creator .row .column {
  background: transparent;
  height: 100%;
  position: relative;
  background-clip: content-box;
}
.creator .row .column.empty-column {
  background: url(../../../images/empty-drag-bg.svg) no-repeat center center /*@color-white*/;
  background-clip: content-box;
  background-size: contain;
  min-height: 100px !important;
  padding: 0.5em;
}
.creator .row .column .container {
  padding: 0;
}
.creator .row .column .row {
  border: 1px solid transparent;
}
#site-page-content-region {
  margin-left: 240px;
  margin-right: 240px;
  margin-bottom: 50px;
  overflow-x: auto;
}
#myCanvas {
  background: #ffffff;
  max-width: 760px;
  margin: 0 auto;
  min-height: 500px !important;
  padding: 15px 10px;
  font-weight: normal;
}
#myCanvas li.ui-sortable-placeholder {
  list-style: none;
  padding: 20px 0;
  background: #d0d0d0;
  border: none;
}
.createParameters {
  background: #ffffff;
  max-width: 760px;
  margin: 0 auto;
  padding: 15px 10px;
}
#toolbox {
  width: 220px;
  background: #f3f3f3;
  position: absolute;
}
#toolbox .tools,
#toolbox .qstns {
  padding: 0 10px 20px;
}
#toolbox .tools ul,
#toolbox .qstns ul {
  padding: 0;
}
#toolbox .tools ul li,
#toolbox .qstns ul li {
  float: left;
  border: 2px solid #e5e9ec;
  background: #ffffff;
  width: 96px;
  height: 60px;
  margin: 2px;
  list-style-type: none;
  cursor: move;
  text-align: center;
  padding: 0;
  padding-top: 5%;
  font-size: 11px;
  line-height: 14px;
}
#toolbox .tools ul li:hover,
#toolbox .qstns ul li:hover {
  background: #0090d9;
  transition: all 0.2s linear;
}
#toolbox .tools ul li:hover a,
#toolbox .qstns ul li:hover a {
  color: #ffffff;
  cursor: move;
}
#toolbox .tools ul li i,
#toolbox .qstns ul li i {
  font-size: 25px;
}
#toolbox .qstns ul li {
  width: 96px;
}
#toolbox .qstns ul li i {
  font-size: 17px;
}
#toolbox .qstns ul li .bicon {
  font-size: 18px;
  vertical-align: middle;
  margin-right: 2px;
}
.dock {
  position: absolute;
  right: 0;
  top: 0;
  width: 220px;
  height: 500px;
}
.dock .builder_actions {
  background: #e5e9ec;
  padding-bottom: 15px;
  margin-top: -48px;
}
.dock .btn-cons2 {
  width: 106px;
}
.docket .tile-footer.drag {
  cursor: move;
}
.docket .tile-footer.drag .semi-bold {
  font-weight: 700;
}
.docket .tile-footer.drag i {
  font-size: 10px;
}
.docket ul {
  padding: 0;
}
.docket ul li {
  float: left;
  border: 2px solid #e5e9ec;
  background: #ffffff;
  width: 92px;
  height: 56px;
  margin: 4px;
  list-style-type: none;
  cursor: move;
  text-align: center;
  padding: 0;
  padding-top: 5%;
}
.docket ul li a {
  cursor: move;
}
.docket ul li i {
  font-size: 35px;
}
.docket ul li:hover {
  background-color: #e74c30;
  -webkit-transition: all 0.3s ease-out;
  /* Chrome 1-25, Safari 3.2+ */

  -moz-transition: all 0.3s ease-out;
  /* Firefox 4-15 */

  -o-transition: all 0.3s ease-out;
  /* Opera 10.50–12.00 */

  transition: all 0.3s ease-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
.docket ul li:hover a {
  color: #ffffff;
}
.docket-body {
  background: #f3f3f3;
  padding: 15px 10px;
  color: #000;
  font-size: 14px;
  font-weight: normal;
}
.docket-body label {
  color: #777a80;
}
.docket-body select.marks,
.docket-body select.blanks {
  width: auto;
}
.docket-body .radio label {
  margin-right: 6px;
}
.textProp .slider.slider-horizontal {
  display: inline-block;
  margin-left: 14px;
}
.textarea {
  width: 100%;
}
.font {
  width: 65%;
}
.textFormat {
  display: inline-block;
  margin-left: 5px;
}
.textFormat .checkbox label {
  margin-right: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
}
.textFormat .checkbox label:before,
.textFormat .checkbox label:after {
  display: none;
}
.textFormat input[type=checkbox]:checked + label {
  background-color: #e74c30;
  color: #ffffff;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.minicolors-theme-default.minicolors {
  width: 60px;
  height: 25px;
  margin-right: 20px;
}
.minicolors-swatch-color {
  border-radius: 5px;
}
.rotateCtrl {
  display: inline-block;
}
.rotateCtrl > div {
  position: relative;
  top: 15px;
}
.element-wrapper {
  border: 2px solid #f3f3f3;
  padding: 7px;
  margin: 4px 0 11px;
  -webkit-transition: all 0.3s ease-out;
  /* Chrome 1-25, Safari 3.2+ */

  -moz-transition: all 0.3s ease-out;
  /* Firefox 4-15 */

  -o-transition: all 0.3s ease-out;
  /* Opera 10.50–12.00 */

  transition: all 0.3s ease-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
.element-wrapper .element-controls {
  position: relative;
}
.element-wrapper .element-controls .aj-imp-drag-handle,
.element-wrapper .element-controls .aj-imp-delete-btn,
.element-wrapper .element-controls .aj-imp-settings-btn {
  position: absolute;
  display: none;
  top: -20px;
  z-index: 2;
}
.element-wrapper .element-controls .aj-imp-drag-handle {
  left: 0;
  height: 10px;
  width: 100%;
  text-align: center;
}
.element-wrapper .element-controls .aj-imp-drag-handle p {
  cursor: move;
  display: block;
  width: 10%;
  min-width: 60px;
  margin: auto;
  color: #00acec;
  font-size: 20px;
  line-height: 20px;
  background: #ffffff;
  border: 2px solid #00acec;
  -webkit-transition: all 0.3s ease-out;
  /* Chrome 1-25, Safari 3.2+ */

  -moz-transition: all 0.3s ease-out;
  /* Firefox 4-15 */

  -o-transition: all 0.3s ease-out;
  /* Opera 10.50–12.00 */

  transition: all 0.3s ease-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
.element-wrapper .element-controls .aj-imp-drag-handle p:hover {
  background: #00acec;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-out;
  /* Chrome 1-25, Safari 3.2+ */

  -moz-transition: all 0.3s ease-out;
  /* Firefox 4-15 */

  -o-transition: all 0.3s ease-out;
  /* Opera 10.50–12.00 */

  transition: all 0.3s ease-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
.element-wrapper .element-controls .aj-imp-delete-btn {
  right: -10px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  text-align: center;
  cursor: pointer;
}
.element-wrapper .element-controls .aj-imp-delete-btn span {
  color: #00acec;
  font-size: 20px;
  line-height: 20px;
  display: block;
}
.element-wrapper .element-controls .aj-imp-delete-btn:hover {
  background: #00acec;
  -webkit-transition: all 0.3s ease-out;
  /* Chrome 1-25, Safari 3.2+ */

  -moz-transition: all 0.3s ease-out;
  /* Firefox 4-15 */

  -o-transition: all 0.3s ease-out;
  /* Opera 10.50–12.00 */

  transition: all 0.3s ease-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
.element-wrapper .element-controls .aj-imp-delete-btn:hover span {
  color: #ffffff;
}
.element-wrapper .element-controls .aj-imp-settings-btn {
  right: 20px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  text-align: center;
  cursor: pointer;
}
.element-wrapper .element-controls .aj-imp-settings-btn span {
  color: #00acec;
  font-size: 13px;
  line-height: 18px;
  display: block;
  width: 1.5em;
}
.element-wrapper .element-controls .aj-imp-settings-btn:hover {
  background: #00acec;
  -webkit-transition: all 0.3s ease-out;
  /* Chrome 1-25, Safari 3.2+ */

  -moz-transition: all 0.3s ease-out;
  /* Firefox 4-15 */

  -o-transition: all 0.3s ease-out;
  /* Opera 10.50–12.00 */

  transition: all 0.3s ease-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
.element-wrapper .element-controls .aj-imp-settings-btn:hover span {
  color: #ffffff;
}
.element-wrapper.hover-class:hover {
  border: 2px solid #00acec;
  -webkit-transition: all 0.3s ease-out;
  /* Chrome 1-25, Safari 3.2+ */

  -moz-transition: all 0.3s ease-out;
  /* Firefox 4-15 */

  -o-transition: all 0.3s ease-out;
  /* Opera 10.50–12.00 */

  transition: all 0.3s ease-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
.element-wrapper.hover-class:hover > .element-controls .aj-imp-drag-handle,
.element-wrapper.hover-class:hover > .element-controls .aj-imp-delete-btn,
.element-wrapper.hover-class:hover > .element-controls .aj-imp-settings-btn,
.element-wrapper.hover-class:hover > .element-controls .aj-imp-col-divider {
  display: block;
  -webkit-transition: all 0.3s ease-out;
  /* Chrome 1-25, Safari 3.2+ */

  -moz-transition: all 0.3s ease-out;
  /* Firefox 4-15 */

  -o-transition: all 0.3s ease-out;
  /* Opera 10.50–12.00 */

  transition: all 0.3s ease-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
.element-wrapper.hover-class:hover > .element-markup > .row > .column:last-child {
  border-right: 0;
}
.element-wrapper p {
  margin: 0;
}
.element-wrapper .cke_editable:focus {
  outline: transparent;
}
.element-wrapper .text,
.element-wrapper .editor {
  font-size: 22px;
}
.element-wrapper .text.placeholder,
.element-wrapper .editor.placeholder {
  color: #dfe4e8;
  font-size: 18px;
  font-weight: bold;
  padding-left: 4px;
}
.aj-imp-col-sel {
  top: -4.6em;
  display: none;
}
.aj-imp-col-sel .tooltip-arrow {
  border-top-color: #29333F;
  left: 2em;
}
.aj-imp-col-sel .tooltip-inner {
  width: auto;
  min-width: 250px;
  max-width: 300px;
  background: #29333F;
}
.aj-imp-col-sel .tooltip-inner label {
  display: inline-block;
  margin: 0;
  padding: 0 0.5em;
  position: relative;
  top: -3px;
}
.aj-imp-col-sel .tooltip-inner ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.aj-imp-col-sel .tooltip-inner ul li {
  float: left;
  margin: 0 0.05em;
}
.aj-imp-col-sel .tooltip-inner ul li a {
  padding: 0.3em 0.5em;
  color: #ffffff;
  border-radius: 3px;
  font-weight: 700;
}
.aj-imp-col-sel .tooltip-inner ul li:hover a,
.aj-imp-col-sel .tooltip-inner ul li.active a {
  background: #00acec;
}
.aj-imp-drag-elements-message {
  width: 100%;
  text-align: center;
  z-index: 0;
  color: #aaaaaa;
  text-transform: uppercase;
  position: relative;
  top: 20%;
}
.aj-imp-drag-elements-message .glyphicon {
  font-size: 2em;
  display: block;
  margin: 0 0 0.5em;
}
.aj-imp-col-divider {
  position: absolute !important;
  display: none;
  width: 1px;
  background: #dddddd;
  top: 1em;
  bottom: 1.2em;
  left: 50%;
  z-index: 2;
  height: 74px;
}
.aj-imp-col-divider p {
  cursor: ew-resize;
  text-align: center;
  display: block;
  color: #dddddd;
  font-size: 18px;
  line-height: 6px;
  width: 40px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #dddddd;
  position: absolute;
  top: 1.5em;
  left: -20px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transition: all 0.3s ease-out;
  /* Chrome 1-25, Safari 3.2+ */

  -moz-transition: all 0.3s ease-out;
  /* Firefox 4-15 */

  -o-transition: all 0.3s ease-out;
  /* Opera 10.50–12.00 */

  transition: all 0.3s ease-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
.aj-imp-col-divider p:hover,
.aj-imp-col-divider p:active {
  background: #00acec;
  color: #ffffff;
  border-color: #00acec;
  -webkit-transition: all 0.3s ease-out;
  /* Chrome 1-25, Safari 3.2+ */

  -moz-transition: all 0.3s ease-out;
  /* Firefox 4-15 */

  -o-transition: all 0.3s ease-out;
  /* Opera 10.50–12.00 */

  transition: all 0.3s ease-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
#settings-region {
  position: absolute !important;
  z-index: 1000;
}
.settings-box {
  width: 400px;
  background: #ffffff;
  box-shadow: 0 0 3px 1px #aaaaaa;
  padding: 0 0.5em 0.5em;
  border-radius: 3px;
  border: 2px solid #e5e9ec;
}
.settings-box .settings-header {
  border-bottom: 1px solid #e5e9ec;
  margin: 0 -0.5em 0.8em;
  padding: 0 0.5em;
  background: #0090d9;
  cursor: move;
}
.settings-box .settings-header .row {
  margin: 0 -15px;
}
.settings-box .settings-header h5.title {
  color: #ffffff;
  font-weight: bold;
}
.settings-box .settings-header .close-btn {
  text-align: right;
}
.settings-box .settings-header .close-btn a {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
}
.settings-box .form-horizontal {
  display: block;
  margin: 0;
}
.settings-box .set-column-count {
  padding-top: 4px;
}
.settings-box .set-column-count .btn-default {
  padding: 4px 12px;
  margin-right: 3px;
}
.wide-modal .modal-dialog {
  width: 80%;
}
.modal-content .modal-header {
  background-color: #0090d9;
}
.modal-content .modal-header .modal-title {
  color: #ffffff;
  text-align: left;
  font-weight: 600;
}
.modal-content .modal-header .close {
  color: #ffffff;
  opacity: 1;
}
.modal-content .modal-body .media-manager-select {
  background-color: #0090d9;
}
.modal-content .modal-body #edit-media-region {
  padding-bottom: 20px;
}
.modal-content .modal-body button {
  float: right;
}
.imagewithtext .image-placeholder {
  float: left;
  width: 30%;
  padding: 2% 0;
  text-align: center;
  border: 3px dashed #f3f3f3;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  color: #aaaaaa;
}
.imagewithtext .image-placeholder .bicon {
  font-size: 40px;
  display: block;
}
.imagewithtext img {
  position: relative;
  z-index: 2;
  margin-right: 10px;
  cursor: pointer;
}
.imagewithtext p {
  margin: 0;
}
.image .image-placeholder,
.video .image-placeholder,
.audio .image-placeholder,
.image .video-placeholder,
.video .video-placeholder,
.audio .video-placeholder,
.image .audio-placeholder,
.video .audio-placeholder,
.audio .audio-placeholder {
  padding: 2% 0;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 2;
  color: #aaaaaa;
}
.image .image-placeholder .bicon,
.video .image-placeholder .bicon,
.audio .image-placeholder .bicon,
.image .video-placeholder .bicon,
.video .video-placeholder .bicon,
.audio .video-placeholder .bicon,
.image .audio-placeholder .bicon,
.video .audio-placeholder .bicon,
.audio .audio-placeholder .bicon {
  font-size: 40px;
  display: block;
}
.aj-imp-upload-media {
  text-align: center;
}
.aj-imp-upload-media .aj-imp-upload-message {
  cursor: pointer;
  background: #e4e4e4;
  border-radius: 5px;
  padding: 10px;
  width: 40%;
  margin: 10px auto;
  font-weight: bold;
}
.aj-imp-upload-media .aj-imp-upload-message .glyphicon {
  width: 25px;
}
.aj-imp-upload-media .bicon {
  font-size: 50px;
  color: #e5e9ec;
}
.vjs-poster {
  height: auto;
}
.video-js {
  background-color: #f8f8f8;
  border: 2px solid #e5e9ec;
}
.playlistToggle {
  position: relative;
  top: -45px;
  left: 10px;
  z-index: 999;
}
.playlistHover {
  background-color: #f8f8f8;
  border: 2px solid #e5e9ec;
  border-top: none;
  padding: 10px 0;
}
.playlist-video {
  width: 49%;
  float: left;
  background-color: #ffffff;
  border: 2px solid #e5e9ec;
  margin: 2px;
  text-align: center;
  cursor: pointer;
}
.playlist-video.currentVid {
  color: #0090d9;
  font-weight: 600;
}
/*Editor popup*/
.cke_dialog_body .cke_dialog_title {
  background-color: #0090d9;
  background-image: none;
  color: #ffffff;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 10px;
}
.cke_dialog_body a.cke_dialog_ui_button {
  background: #f35958;
  color: #ffffff;
  text-shadow: none;
  border: none;
}
.cke_dialog_body a.cke_dialog_ui_button:hover {
  background: #f02a28;
}
.cke_dialog_body a.cke_dialog_ui_button span {
  text-shadow: none;
}
.cke_dialog_body a.cke_dialog_ui_button_ok {
  background: #0090d9;
  border: none;
}
.cke_dialog_body a.cke_dialog_ui_button_ok:hover {
  background: #006ea6;
}
/*Properties Bar*/
#options-bar-region label {
  font-size: 15px;
}
#subProps {
  background-color: #0090d9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#subProps > li > a {
  color: #f3f3f3;
}
#subProps > li > a:hover {
  color: #ffffff;
}
#subProps > li.active > a {
  color: #1b1e24;
}
/*Media Manager*/
#all-media-region .thumbnail {
  cursor: pointer;
  background-color: #f3f3f3;
}
#all-media-region .thumbnail::after {
  clear: both;
}
#all-media-region .mediaSearch {
  width: 35%;
}
#all-media-region .listView {
  width: 100%;
}
#all-media-region .listView::after {
  clear: both;
}
#all-media-region .listView .thumbnail {
  height: 45px;
  margin-bottom: 10px;
}
#all-media-region .listView .imgthumb {
  width: 5%;
  float: left;
  margin-right: 10px;
}
#all-media-region .listView .ticker {
  right: -5px;
}
#all-media-region .listView .imaTitle {
  font-weight: bold;
}
#all-media-region .col-sm-2 .imaTitle {
  display: none;
}
#all-media-region .single-img {
  position: relative;
}
#all-media-region .ticker {
  position: absolute;
  top: -7px;
  right: 5px;
  color: #ffffff;
  padding: 3px 4px;
  border-radius: 2px;
  background: #0090d9;
  display: none;
}
#all-media-region .ui-selected a {
  border: 2px solid #0090d9;
}
#all-media-region .ui-selected .ticker {
  display: block;
}
#all-media-region .ui-selected .ticker .glyphicon-minus {
  display: none;
}
#all-media-region .ui-selected .ticker:hover .glyphicon-minus {
  display: inline-block;
}
#all-media-region .ui-selected .ticker:hover .glyphicon-ok {
  display: none;
}
/*input[type=checkbox].mcq-option-select {
	display:none;
}

input[type=checkbox].mcq-option-select + p.mcq-option-text {
	padding-left:55px;
	height:41px; 
	display:inline-block;
	//line-height:41px;
	background-repeat:no-repeat;
	background-position: 0 0;
	//font-size:41px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].mcq-option-select:checked + p.mcq-option-text {
	background-position: 0 -41px;
}

p.mcq-option-text {
	background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_37dcefa588101cc5918ea69e918d56b9.png);
	-webkit-touch-callout: none;
	  -webkit-user-select: none;
	   -khtml-user-select: none;
	     -moz-user-select: none;
	      -ms-user-select: none;
	          user-select: none;
}*/
/*.checkbox {
	width: 50px;
	height: 41px;
	padding: 0 5px 0 0;
	background: url(../../../images/csscheckbox.png) no-repeat;
	display: block;
	//clear: left;
	float: left;
}*/.style .select2-container {
  width: 60%;
}
.colors .minicolors-theme-default.minicolors {
  width: 30px;
  height: 22px;
  margin-right: 10px;
}
.fib-text {
  font-size: 22px;
  margin-bottom: 0;
}
.fib-text:focus {
  outline: none;
}
.fib-text .fibno {
  font-size: 15px;
  opacity: 0.5;
  margin-left: 5px;
}
.fib-text input[type="text"] {
  margin: 0 8px 0 2px;
  padding: 0px 20px !important;
  vertical-align: text-bottom;
  valign: text-bottom;
  text-align: center;
  white-space: nowrap;
  border: none;
  height: auto;
  min-height: 30px;
  border-bottom: 4px solid #f3f3f3;
}
.fib-text input[type="text"].underline {
  background: url(../../../images/underline.gif) repeat-x 100% 100%;
  border: none;
}
.fib-text input[type="text"].border {
  border: 15px solid transparent;
  -webkit-border-image: url(../../../images/border.gif) 20 20 stretch;
  /* Safari 5 */

  -o-border-image: url(../../../images/border.gif) 20 20 stretch;
  /* Opera */

  border-image: url(../../../images/border.gif) 20 20 stretch;
}
.fib-text input[type="text"].ansWrong {
  background: url(../../../images/wrong-ans.gif) no-repeat right center;
  border: none;
  border-bottom: 2px solid #f35958;
  background-size: 25px;
  -webkit-transition: all 0.3s ease-out;
  /* Chrome 1-25, Safari 3.2+ */

  -moz-transition: all 0.3s ease-out;
  /* Firefox 4-15 */

  -o-transition: all 0.3s ease-out;
  /* Opera 10.50–12.00 */

  transition: all 0.3s ease-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
.fib-text input[type="text"].ansRight {
  background: url(../../../images/right-ans.gif) no-repeat right center;
  border: none;
  border-bottom: 2px solid #259b24;
  background-size: 25px;
  -webkit-transition: all 0.3s ease-out;
  /* Chrome 1-25, Safari 3.2+ */

  -moz-transition: all 0.3s ease-out;
  /* Firefox 4-15 */

  -o-transition: all 0.3s ease-out;
  /* Opera 10.50–12.00 */

  transition: all 0.3s ease-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
.fib-text input[type="text"].active {
  outline: 1px solid #259b24;
}
.fib-simpletext {
  min-width: 45px;
  display: inline-block;
  border: 1px dashed #f3f3f3;
}
.fibRightAns .fibAns {
  border-bottom: 2px solid #259b24;
}
#mcq-container .element-wrapper {
  border: none;
  margin: 4px 0 0;
  padding: 0 7px;
}
#mcq-container .element-wrapper .row .column.empty-column {
  background: none;
  min-height: 0 !important;
}
#mcq-container .element-wrapper .aj-imp-col-divider {
  top: 0;
  height: 45px;
}
#mcq-container .element-wrapper .aj-imp-col-divider p {
  top: 16px;
  left: -12px;
  width: 25px;
  height: 12px;
}
#mcq-container .ansWrong {
  opacity: 0.2;
  background: url(../../../images/wrong-ans.gif) no-repeat right center;
  border-bottom: 2px solid #f35958;
  background-size: 25px;
  -webkit-transition: all 0.3s ease-out;
  /* Chrome 1-25, Safari 3.2+ */

  -moz-transition: all 0.3s ease-out;
  /* Firefox 4-15 */

  -o-transition: all 0.3s ease-out;
  /* Opera 10.50–12.00 */

  transition: all 0.3s ease-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
#mcq-container .ansFalse {
  opacity: 0.2;
  border-bottom: 2px solid #f35958;
  -webkit-transition: all 0.3s ease-out;
  /* Chrome 1-25, Safari 3.2+ */

  -moz-transition: all 0.3s ease-out;
  /* Firefox 4-15 */

  -o-transition: all 0.3s ease-out;
  /* Opera 10.50–12.00 */

  transition: all 0.3s ease-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
#mcq-container .ansRight {
  background: url(../../../images/right-ans.gif) no-repeat right center;
  border-bottom: 2px solid #259b24;
  background-size: 25px;
  -webkit-transition: all 0.3s ease-out;
  /* Chrome 1-25, Safari 3.2+ */

  -moz-transition: all 0.3s ease-out;
  /* Firefox 4-15 */

  -o-transition: all 0.3s ease-out;
  /* Opera 10.50–12.00 */

  transition: all 0.3s ease-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
.mcq-option {
  float: left;
  border: 2px solid transparent;
  margin-bottom: 2px;
  min-height: 40px;
}
.mcq-option:before,
.mcq-option:after {
  content: " ";
  display: table;
}
.mcq-option:after {
  clear: both;
}
.mcq-option .mcq-option-select {
  float: left;
  z-index: 2;
  margin: 4px 5px;
  background-size: 32px;
}
.mcq-option .mcq-option-text {
  margin: 0;
  word-break: break-word;
  overflow: hidden;
  font-size: 22px;
}
.mcq-option .mcq-option-text:focus {
  outline: none;
}
.mcq-option .mcq-option-text.placeholder {
  color: #dfe4e8;
  font-size: 18px;
  font-weight: bold;
  border: 2px dashed #f3f3f3;
  padding-left: 4px;
}
.mcq-option .optionNo {
  float: left;
  padding-top: 6px;
  padding-right: 2px;
  font-size: 16px;
}
.mcq-option + .element-wrapper {
  overflow: hidden;
}
#multiple-answer label {
  margin-bottom: 10px;
  margin-top: 5px;
}
.mcqProp .select2-container {
  width: 100%;
}
#individual-marks-region input {
  margin-bottom: 4px;
}
#individual-marks-region label {
  text-align: right;
  padding-top: 8px;
}
.sort-option {
  border: 2px solid #f3f3f3;
  border-right-width: 35px;
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
  cursor: move;
  transition-property: transform, top, left;
}
.sort-option.ui-sortable-placeholder {
  visibility: visible!important;
  background: #f3f3f3;
  height: 50px !important;
}
.sort-option.ui-sortable-placeholder.active {
  box-shadow: inset 0 0 200px #f3f3f3;
}
.sort-option.ui-sortable-placeholder.starting {
  transition-property: none;
}
.sort-option.grabbing {
  transform: rotate(3deg);
}
.sort-option.moving {
  box-shadow: #f3f3f3 0 0 5px 2px !important;
}
.sort-option.ansWrong {
  opacity: 0.3;
  background: url(../../../images/wrong-ans.gif) no-repeat right center;
  border: none;
  border-bottom: 2px solid #f35958;
  background-size: 25px;
  padding-right: 40px;
  -webkit-transition: all 0.3s ease-out;
  /* Chrome 1-25, Safari 3.2+ */

  -moz-transition: all 0.3s ease-out;
  /* Firefox 4-15 */

  -o-transition: all 0.3s ease-out;
  /* Opera 10.50–12.00 */

  transition: all 0.3s ease-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
.sort-option.ansRight {
  background: url(../../../images/right-ans.gif) no-repeat right center;
  border: none;
  border-bottom: 2px solid #259b24;
  background-size: 25px;
  padding-right: 40px;
  -webkit-transition: all 0.3s ease-out;
  /* Chrome 1-25, Safari 3.2+ */

  -moz-transition: all 0.3s ease-out;
  /* Firefox 4-15 */

  -o-transition: all 0.3s ease-out;
  /* Opera 10.50–12.00 */

  transition: all 0.3s ease-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
.sort-option .sort-option-text {
  margin: 0;
  word-break: break-word;
  overflow: hidden;
  font-size: 22px;
}
.sort-option .sort-option-text:focus {
  outline: none;
}
.sort-option .sort-option-text.placeholder {
  color: #dfe4e8;
  font-size: 18px;
  font-weight: bold;
  padding-left: 4px;
}
.ui-state-highlight {
  background: #f3f3f3;
  height: 50px !important;
}
/*Preview*/
#content-board .sort-option .number {
  display: none;
}
.teacher-question-row > span {
  font-size: 18px;
  display: block;
  font-family: Georgia;
  font-family: 'Cinzel Decorative';
}
.teacher-question-row > span:first-letter {
  font-size: 40px;
}
.container-grey {
  background: #f3f3f3;
  border: 1px solid #c3c3c3;
  box-shadow: #dadada 0 0 0 3px inset;
}
.hashtags {
  font-size: 13px;
}
.moduleInfo {
  background: #f3f3f3;
  border-bottom: 1px solid #c3c3c3;
}
.moduleInfo .btn {
  white-space: normal;
}
.cpTimer {
  margin: 10px auto 0;
}
.cpTimer .textDiv_Seconds span {
  opacity: 0.3;
}
.is-countdown {
  font-weight: 300;
  padding: 10px 10px 20px;
}
.is-countdown:after {
  clear: both;
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.countdown-row {
  width: 100%;
  text-align: center;
}
.countdown-row .countdown-section {
  width: 49%;
}
.countdown-amount {
  color: #259b24;
  font-size: 200%;
}
.countdown-section {
  display: block;
  float: left;
  font-size: 18px;
  text-align: center;
}
.countdown-section:last-child .countdown-amount {
  opacity: 0.2;
}
.countdown-period {
  display: block;
}
.negative .countdown-amount {
  color: #f35958;
}
.modInfo,
.qstnInfo {
  cursor: pointer;
}
.qstnStatus {
  color: #259b24;
  font-size: 25px;
}
.qstnStatus i {
  font-size: 22px;
}
#content-board {
  margin-top: 15px;
  margin-left: 220px;
  margin-right: 220px;
  margin-bottom: 50px;
  overflow-x: auto;
}
#content-board .element-wrapper {
  border: none;
  padding: 0 7px;
  margin: 2px 0 15px;
}
#content-board .imagewithtext .image-placeholder {
  cursor: default;
  position: static;
}
#content-board .imagewithtext img {
  position: static;
  cursor: default;
}
#content-board .video > * {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0px);
  -webkit-transform: translate3d(0, 0, 0);
}
.contentTime {
  left: 5px;
}
.contentInfo {
  right: 5px;
  padding: 20px 20px 10px;
}
.contentTime,
.contentInfo {
  width: 235px;
  background: #f3f3f3;
  border: 1px solid #c3c3c3;
  box-shadow: #dadada 0 0 0 3px inset;
  position: absolute;
}
.qstnInfo {
  max-width: 760px;
  margin: auto;
  margin-bottom: 5px;
  padding: 10px 10px 10px 20px;
}
#eval-parameters {
  max-width: 760px;
  margin: 0 auto;
}
@media (min-width: 1020px) and (max-width: 1295px) {
  #content-board {
    margin: 0;
  }
  #myCanvas,
  #eval-parameters {
    margin: 0;
    margin-left: auto;
  }
  #eval-parameters {
    max-width: 755px;
  }
  #top-panel {
    float: left;
    margin-left: 2px;
  }
  .contentTime,
  .contentInfo {
    position: static;
    float: none;
    margin: 0 1.5%;
  }
  .contentTime {
    margin-bottom: 8px;
  }
  .qstnInfo {
    margin: 0;
    margin-bottom: 5px;
    margin-left: auto;
  }
}
.answrMsg.alert-success h3 {
  color: #006800;
}
.answrMsg.alert-error h3 {
  color: #c02625;
}
.answrMsg.alert-info h3 {
  color: #005da6;
}
.page-content.expand-page {
  margin-left: 0;
}
.page-content.expand-page .content {
  padding: 0;
}
#module-details-region {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0px);
  -webkit-transform: translate3d(0, 0, 0);
}
#module-details-region.condensed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
#module-details-region.condensed .moduleInfo > div {
  padding: 0;
}
#module-details-region.condensed .moduleInfo > div .modTime {
  display: none;
}
#module-details-region.condensed .moduleInfo > div .modTime.next,
#module-details-region.condensed .moduleInfo > div .modTime.pause {
  display: block;
  float: right;
  padding: 0 10px 5px;
}
#module-details-region.condensed .moduleInfo > div .modTime.next .btn,
#module-details-region.condensed .moduleInfo > div .modTime.pause .btn {
  margin-top: 5px;
}
#module-details-region.condensed .moduleInfo > div .modTime.pause {
  float: left;
}
#module-details-region.condensed .moduleInfo > div .modTime.pause h4 {
  font-size: 17px;
  line-height: 22px;
}
.parameters .btn {
  white-space: normal;
  word-break: break-word;
}
/*.answrRight{
	background: url(../../../images/answer.png) no-repeat;
	width: 45px;
	height: 34px;
	background-position: 0 0;
	float: left;
	background-size: 78px 34px;
	margin-left: 8px;
}

.answrWrong{
	background: url(../../../images/answer.png) no-repeat;
	width: 38px;
	height: 34px;
	background-position: -48px 0;
	float: left;
	background-size: 82px 34px;
	margin-left: 8px;
}*/
#textbooks {
  position: relative;
  margin: 0px;
  padding: 0;
}
.fail_element {
  position: absolute;
  margin: auto;
  opacity: 0;
  top: 70px;
  text-align: center;
  width: 50%;
  left: 25%;
  line-height: 1.4;
  font-size: 30px;
  font-weight: 300;
}
.fail .fail_element {
  opacity: 1;
}
/* LIST VIEW STYLES */
#textbooks.list .list_header {
  height: 38px;
  line-height: 38px;
  text-align: right;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#textbooks.list .meta {
  display: inline-block;
  width: 205px;
  text-align: center;
  line-height: 110px;
  border-left: 1px solid #d1d3d9;
  height: 100%;
  vertical-align: top;
}
#textbooks.list .list_header .meta {
  line-height: 38px;
  border: 0 none;
  margin-top: -8px;
  vertical-align: inherit;
}
#textbooks.list .meta.name {
  float: left;
  text-align: left;
  width: auto;
  border-left: 0 none;
  padding: 0 2% 0 0;
}
#textbooks.list .list_header .meta.name {
  padding-left: 15px;
}
#textbooks.list .list_header .meta span {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 7px 0 0;
  cursor: pointer;
  top: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#textbooks.list .list_header .meta span:after {
  content: '';
  position: absolute;
  top: 9px;
  left: 7px;
  border: 5px solid transparent;
}
#textbooks.list .list_header .meta span.asc:after {
  border-top: 7px solid #8b91a0;
}
#textbooks.list .list_header .meta span.desc:after {
  top: 4px;
  border-bottom: 7px solid #8b91a0;
}
#textbooks.list .list_header .meta span:hover {
  background: #a7acb7;
}
#textbooks.list .list_header .meta span.asc:hover:after {
  border-top-color: #e5e9ec;
}
#textbooks.list .list_header .meta span.desc:hover:after {
  border-bottom-color: #e5e9ec;
}
#textbooks.list .list_header .meta span.active.asc:after {
  border-top-color: #424650;
}
#textbooks.list .list_header .meta span.active.desc:after {
  border-bottom-color: #424650;
}
#textbooks.list .mix {
  display: none;
  opacity: 0;
  padding: 0;
  border-bottom: 1px solid #d1d3d9;
  text-align: right;
  height: 127px;
  width: 100%;
  line-height: 99px;
  vertical-align: top;
  font-weight: 300;
}
#textbooks.list .mix .meta * {
  line-height: 1.2;
}
#textbooks.list .mix .meta p,
#textbooks.list .mix .meta ul {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
}
#textbooks.list .mix .meta li {
  margin-bottom: 5px;
}
#textbooks.list .img_wrapper {
  display: inline-block;
  width: 177px;
  height: 95px;
  vertical-align: top;
  margin-right: 30px;
}
#textbooks.list .titles {
  display: inline-block;
  vertical-align: middle;
}
#textbooks.list .titles h3 {
  margin-bottom: 5px;
  margin-top: 15px;
}
#textbooks.grid {
  text-align: justify;
}
#textbooks.grid .list_header {
  display: none;
}
#textbooks.grid .meta {
  display: none;
}
#textbooks.grid .meta.name {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: block;
}
#textbooks.grid .mix {
  display: none;
  opacity: 0;
  position: relative;
  width: 48.5%;
  padding-top: 26%;
  margin-bottom: 3%;
}
#textbooks.grid .img_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
}
#textbooks.grid .titles {
  position: relative;
  width: 90%;
  max-width: 400px;
  height: auto;
  margin-top: 75%;
  margin: 53.5% auto 0;
  top: -80px;
  z-index: 1;
  padding: 10px 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
}
#textbooks.grid .titles h2 {
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 3px;
}
#textbooks.grid .titles p {
  font-weight: 300;
  text-indent: -2px;
}
#textbooks ul {
  padding-left: 0;
}
#textbooks.list .mix {
  background-color: #fbfbfb;
  cursor: pointer;
  min-height: 120px;
  margin-bottom: 10px;
  border-bottom: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-out;
  /* Chrome 1-25, Safari 3.2+ */

  -moz-transition: all 0.3s ease-out;
  /* Firefox 4-15 */

  -o-transition: all 0.3s ease-out;
  /* Opera 10.50–12.00 */

  transition: all 0.3s ease-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
#textbooks.list .mix:hover {
  background-color: #f3f3f3;
  -webkit-transition: all 0.3s ease-out;
  /* Chrome 1-25, Safari 3.2+ */

  -moz-transition: all 0.3s ease-out;
  /* Firefox 4-15 */

  -o-transition: all 0.3s ease-out;
  /* Opera 10.50–12.00 */

  transition: all 0.3s ease-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
#textbooks.list .list_header .meta {
  margin-top: 0;
}
#textbooks.list .list_header .meta span {
  margin-top: 0;
  width: 15px;
}
#textbooks.list .list_header .meta span:after {
  left: 2px;
}
#textbooks.list .meta.name {
  width: 35%;
}
#textbooks.list .meta.area {
  width: 15%;
  word-break: break-all;
}
#textbooks.list .meta {
  width: 20%;
  padding: 0 2% 0 2%;
  float: left;
  word-break: break-all;
}
#textbooks.list .img_wrapper {
  width: 20%;
  height: 100%;
  margin-right: 10px;
}
#textbooks.list .img_wrapper img {
  height: auto;
  width: auto;
  left: -20%;
}
#textbooks.list .titles {
  width: 70%;
  word-break: break-word;
}
#textbooks.list .titles h3 {
  letter-spacing: 1px;
}
@media (max-width: 600px) {
  #textbooks.list .meta.name {
    width: 60%;
  }
  #textbooks.list .meta {
    width: 40%;
  }
  #textbooks.list .meta.area {
    display: none;
  }
}
.listBox {
  margin-top: 60px;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .listBox {
    margin-top: 50px;
  }
}
@media (max-width: 991px) {
  .listBox {
    margin-top: 0;
  }
}
.user-description-box {
  min-height: 120px;
}
.cover-pic-wrapper img {
  margin: 0 auto;
  display: block;
}
.teacherCanvas {
  background-color: #ffffff !important;
  position: relative;
  min-height: 200px;
}
.modProgress {
  width: 100%;
}
.modProgress .progress {
  width: 100%;
}
.modProgress .progress .progress-bar[aria-valuenow="NaN"],
.modProgress .progress .progress-bar[aria-valuenow="0"] {
  min-width: 30px;
  color: #333333;
  background-color: transparent;
}
h3.time {
  line-height: 20px;
}
.closeEval {
  cursor: pointer;
}
.parameters:focus {
  outline: none;
}
#question-details-region {
  min-height: 530px;
}
@media (max-width: 1295px) {
  #question-details-region {
    min-height: 585px;
  }
}
.studentActions {
  display: table;
  margin: 0 auto;
  border-bottom: 1px solid #c3c3c3;
}
.studentList {
  margin: 0 5px;
}
.studentList h4 span {
  display: block;
}
.studentList .listNavShow {
  display: block;
}
.studentList .students .tiles {
  cursor: pointer;
}
.studentList .students .tiles.red,
.studentList .students .tiles.default,
.studentList .students .tiles.green,
.studentList .students .tiles.unselected,
.studentList .students .tiles.blue {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.studentList .students .tiles.red:active,
.studentList .students .tiles.default:active,
.studentList .students .tiles.green:active,
.studentList .students .tiles.unselected:active,
.studentList .students .tiles.blue:active {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  transform: scale(1.3);
}
.studentList .students .tiles.white {
  background-color: #f3f3f3;
}
.studentList .students .tiles.single.light {
  opacity: 0.2;
}
.studentList .students .tiles.single.selected {
  opacity: 1;
}
.studentList .students .tiles.single.selected .active {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  transform: scale(1.3);
}
.studentList .students i {
  font-size: 20px;
}
.studentList .students div {
  position: static;
}
.studentList .ln-letters {
  display: table;
  margin: auto;
  margin-top: 10px;
}
.studentList .ln-letters a {
  padding: 5px 14px;
  font-size: 1.5em;
  border: 1px solid #c8d0d6;
  border-right: 1px solid #c8d0d6;
  margin-bottom: 5px;
  margin-right: 4px;
  background: #f3f3f3;
}
.studentList .ln-letters a.ln-disabled {
  padding: 5px 5px 14px;
  font-size: 0.7em;
  margin-top: 10px;
  border: none;
  background: none;
}
.studentList .box2 {
  position: relative;
}
.studentList .user-profile-pic {
  position: static;
  width: auto;
}
.studentList .user-profile-pic img {
  height: 50px;
  width: 50px;
  margin: auto;
  display: block;
  -webkit-border-radius: 100px 100px 100px 100px;
  -moz-border-radius: 100px 100px 100px 100px;
}
@media (min-width: 768px) {
  .students .col-md-2,
  .students .col-sm-2,
  .students .col-lg-2 {
    width: 20%;
    *width: 20%;
  }
}
@media (min-width: 1200px) {
  .students .col-md-2,
  .students .col-sm-2,
  .students .col-lg-2 {
    width: 20%;
    *width: 20%;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .students .col-md-2,
  .students .col-sm-2,
  .students .col-lg-2 {
    width: 20%;
    *width: 20%;
  }
}
input#duration {
  max-width: 150px;
}
.durationSelect {
  width: 90px;
}
#myCanvas-miki .cbp_tmlabel a {
  color: #e74c30;
}
#myCanvas-miki .cbp_tmlabel .tools {
  display: inline-block;
  padding: 0;
  margin: 0;
  position: relative;
  float: right;
}
#myCanvas-miki .cbp_tmlabel .tools > a {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  font-size: 16px;
  width: 15px;
  height: 15px;
  color: #aab7c1;
}
#myCanvas-miki .cbp_tmlabel .tools > a.remove:before {
  content: "\f00d";
  font-family: FontAwesome;
}
#myCanvas-miki .cbp_tmlabel .tools > a.config:before {
  content: "\f013";
  font-family: FontAwesome;
}
#myCanvas-miki .cbp_tmlabel.done {
  background-color: #f3f3f3;
}
#myCanvas-miki .cbp_tmlabel.done a {
  color: #ea6047;
}
#myCanvas-miki .cbp_tmlabel.done .tiles.grey {
  border-top: 1px solid #ffffff;
}
#myCanvas-miki .cbp_tmtimeline > li .contentPiece,
#myCanvas-miki .cbp_tmtimeline > li .cbp_tmlabel {
  cursor: move;
}
#myCanvas-miki .cbp_tmtimeline > li .contentPiece .cbp_tmicon,
#myCanvas-miki .cbp_tmtimeline > li .cbp_tmlabel .cbp_tmicon {
  top: auto;
}
#myCanvas-miki .cbp_tmtimeline > li .cbp_tmlabel.view {
  cursor: pointer;
}
#myCanvas-miki .cbp_tmtimeline > li .cbp_tmlabel.done:after {
  border-right-color: #f3f3f3;
}
#myCanvas-miki .cbp_tmtimeline > li .qstnStatus {
  position: absolute;
  right: -170px;
  top: 12px;
}
.modTimes > div {
  width: 25%;
  float: left;
  padding: 0 10px;
}
.moduleInfo .modTime {
  width: 20%;
  float: left;
  padding: 0 10px 10px;
}
.panel-default > .panel-heading {
  background-color: transparent;
}
.panel-default > .panel-heading.collapsed {
  background-color: transparent;
}
.cbp_tmtimeline li.setGroup {
  margin-bottom: 20px;
}
.cbp_tmtimeline li.setGroup .cbp_tmlabel {
  margin-bottom: 2px;
  padding: 10px;
}
.quizWrong {
  font-size: 25px;
}
.practiceNote {
  position: fixed;
  width: 100%;
  z-index: 2;
}
.practiceNote + div {
  padding-top: 80px;
}
.quizTimer {
  margin: 0 auto 0;
}
.quizActions {
  max-width: 760px;
}
.timerBox {
  float: right;
}
.timerBox,
.quizProgress {
  width: 235px;
  background: #cdcdcd;
  margin: 0 1.5%;
}
.quizProgress {
  float: left;
}
.quizSteps ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}
.quizSteps ul li {
  text-align: center;
  padding: 0;
}
.quizSteps ul li a {
  padding: 30px 0;
  width: 33.3%;
  float: left;
  position: relative;
  border: 1px solid #f3f3f3;
  background: #e6e6e6;
  font-size: 24px;
}
.quizSteps ul li a:hover {
  background: #f3f3f3;
}
.quizSteps ul li a:before {
  position: absolute;
  font-family: 'FontAwesome';
  font-size: 20px;
  font-weight: normal;
}
.quizSteps ul li.right a {
  background: #259b24;
  color: #ffffff;
}
.quizSteps ul li.right a:hover {
  background: #1b721a;
}
.quizSteps ul li.right a:before {
  content: "\f00c";
  bottom: 6px;
  right: 6px;
}
.quizSteps ul li.wrong a {
  background: #f35958;
  color: #ffffff;
}
.quizSteps ul li.wrong a:hover {
  background: #f02a28;
}
.quizSteps ul li.wrong a:before {
  content: "\f00d";
  bottom: 6px;
  right: 6px;
}
.quizSteps ul li.skip a {
  background: #0090d9;
  color: #ffffff;
}
.quizSteps ul li.skip a:hover {
  background: #006ea6;
}
.quizSteps ul li.skip a:before {
  content: "\f021";
  bottom: 6px;
  right: 8px;
  font-size: 18px;
}
.quizSteps ul li.current a {
  box-shadow: inset 0 0 0 10px #a6a6a6;
}
.quizSteps ul li.current a:before {
  color: #a6a6a6;
  font-size: 28px;
  content: "\f0d8";
  bottom: 4px;
  left: 40%;
}
.customButtons {
  padding: 15px 15px 20px;
}
.customButtons span {
  cursor: pointer;
  font-size: 24px;
}
.customButtons .jp-disabled {
  opacity: 0.5;
}
.holder {
  margin: 0 auto;
  text-align: center;
  line-height: 18px;
}
.holder a {
  background-color: #e5e9ec;
  cursor: pointer;
  display: inline-block;
  margin: 0 6px;
  padding: 5px 15px;
}
.holder a:hover {
  background-color: #e5e9ec;
}
.holder a.jp-current {
  background-color: #0090d9;
}
.holder a.jp-current:hover {
  background-color: #0090d9;
}
.holder a.jp-disabled {
  background-color: #e5e9ec;
}
.holder a.jp-disabled:hover {
  background-color: #c8d0d6;
}
@media (min-width: 1020px) and (max-width: 1295px) {
  .timerBox,
  .quizProgress {
    margin: 0;
    left: 0;
    position: absolute;
  }
  .timerBox {
    top: 420px;
  }
  .quizActions {
    margin: 0;
    margin-left: auto;
  }
  .sidebarContainer {
    position: relative;
  }
}
@media (max-width: 1019px) {
  .sidebarContainer {
    position: absolute;
    bottom: 0;
    z-index: 999;
    width: 100%;
  }
  .sidebarContainer .timerBox {
    float: left;
    width: 35%;
    margin: 0;
  }
  .sidebarContainer .quizProgress {
    float: left;
    width: 65%;
    margin: 0;
  }
  .sidebarContainer .quizProgress .quizSteps ul li a {
    width: 15%;
  }
}
/*Dashboard*/
.teacher-app {
  max-width: 1164px;
  margin: 0 auto;
}
#teacherOptns {
  text-align: center;
  margin-top: 30px;
}
#teacherOptns h3 {
  display: inline-block;
}
#teacherOptns h3:last-child {
  border-right: none;
}
#teacherOptns h3 a {
  padding: 0 20px;
}
#teacherOptns h3 a.active,
#teacherOptns h3 a:hover {
  border-bottom: 4px solid #0090d9;
}
#teacherOptns h3 a.active {
  font-weight: 600;
}
ul.classes {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.classes > li {
  width: 15.2%;
  height: 88px;
  float: left;
  margin-right: 1.5%;
  margin-bottom: 20px;
}
ul.classes > li:nth-child(6n) {
  margin-right: 0;
}
ul.classes a {
  background: #f3f3f3;
  border: 1px solid #c3c3c3;
  box-shadow: #dadada 0 0 0 3px inset;
  display: table;
  height: 100%;
  width: 100%;
  padding: 10px;
  font-size: 21px;
}
ul.classes a:hover {
  border: 3px solid #dadada;
  background: #0090d9;
  color: #ffffff;
  box-shadow: #dadada 0 0 0 0;
  padding: 8px;
}
ul.classes .classesWrap {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/*Take Class*/
#textbooks.list.takeClass .meta.name {
  width: 50%;
}
#textbooks.list.takeClass .meta.rec {
  width: 30%;
}
#textbooks.list.takeClass .txtbook {
  cursor: pointer;
  z-index: 2;
  position: relative;
}
.chapStatus {
  width: 33%;
  padding: 0 4px;
  text-align: center;
  float: left;
  font-weight: 600;
}
/*Modules Table*/
.moduleList .btn.action {
  width: 110px;
}
.dateInfo {
  padding-top: 4px;
  padding-bottom: 4px;
}
body {
  background-color: #e5e9ec;
  overflow-y: scroll;
  height: 100%;
  -webkit-text-stroke: 0.1px;
}
#site_main_container {
  opacity: 0;
}
#site_main_container.showAll {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}
.header .quick-section2 {
  margin-top: 16px;
  margin-right: 10px;
  display: inline-block;
  float: left;
}
.logo {
  margin: 10px 28px;
}
.header-seperation {
  background-color: #cc3318;
}
.page-sidebar {
  background-color: #cc3318 !important;
}
.page-sidebar.mini {
  background-color: #cc3318 !important;
}
.page-sidebar .page-sidebar-wrapper > ul > li > a,
.page-sidebar .page-sidebar-wrapper > ul > li > a i,
.page-sidebar .page-sidebar-wrapper > ul > li > a .arrow:before,
.page-sidebar .page-sidebar-wrapper > ul > li > a .arrow.open:before {
  color: #ffffff !important;
  font-size: 16px;
}
.page-sidebar .page-sidebar-wrapper > ul > li > a,
.page-sidebar .page-sidebar-wrapper > ul > li > a:hover {
  padding: 11.5px 12px;
}
.page-sidebar .page-sidebar-wrapper > ul > li.open > a {
  background-color: #e74c30 !important;
  padding: 11.5px 12px;
}
.page-sidebar .page-sidebar-wrapper > ul > li:hover > a {
  background-color: #e74c30;
}
.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu {
  background-color: #e74c30;
}
.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu > li > a {
  font-size: 15px;
}
.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu > li > a:hover {
  background-color: #e3391a !important;
}
.page-sidebar.mini .page-sidebar-wrapper > ul {
  padding: 70px 0 0;
}
.page-sidebar.mini .page-sidebar-wrapper > ul > li > a {
  padding: 11.5px 12px;
}
@media (max-width: 1024px) {
  .page-sidebar {
    background: #003d4f !important;
  }
  .page-sidebar .page-sidebar-wrapper > ul > li.open > a {
    background-color: #595e6c !important;
  }
  .page-sidebar .page-sidebar-wrapper > ul > li a.mm-subopen {
    position: absolute;
  }
  .page-sidebar .page-sidebar-wrapper > ul > li a .arrow {
    display: none;
  }
  .page-sidebar .page-sidebar-wrapper > ul > li:hover > a {
    background-color: transparent;
  }
  .page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu {
    background-color: #595e6c;
  }
  .page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu > li > a:hover {
    background-color: #7d8495 !important;
  }
  .page-sidebar .mm-list > li > a,
  .page-sidebar .mm-list > li > span {
    font-family: 'Open Sans';
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
  }
}
#walnutProfile {
  background: #003d4f;
}
#walnutProfile .user {
  font-size: 20px;
  color: #aaaaaa;
}
#walnutProfile .appLogout {
  padding: 5px 22px;
  width: 100%;
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Open Sans';
  font-weight: 400;
}
#walnutProfile .appLogout:hover {
  color: #b7b7b7;
}
@media (min-width: 1025px) {
  #walnutProfile {
    display: none;
  }
}
tbody.rowlink td {
  cursor: pointer;
}
.form-chptrAdd {
  margin-bottom: 10px;
}
.scrollup {
  left: auto;
  right: 50px;
  display: none !important;
}
.tiles-head {
  padding: 10px 18px 5px 24px;
}
@media (max-width: 767px) {
  .login-container {
    margin-top: 20px !important;
    /*For mobile app testing*/
  
  }
}
.contentSelect select {
  width: 24%;
  margin-right: 5px;
}
textarea.error,
.select2-choice.error {
  border: 1px solid #f35958 !important;
}
.page-container {
  position: static;
}
.page-content.condensed {
  overflow: visible;
}
.page-content {
  min-height: 0;
  overflow-x: hidden;
  padding-bottom: 50px;
}
.mainLogo {
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.mainLogo img {
  width: 210px;
  height: 76px;
  margin: 0 auto 15px;
  display: block;
}
.smallLogo {
  background: url(../../../images/synapse-logo-main.png);
  width: 97px;
  height: 35px;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left center;
}
.select2-results,
.select2-container,
.select2-container.form-control {
  font-size: 15px;
  font-weight: normal;
}
.select2-results {
  margin: 4px 4px 4px 0;
}
.textbook-filter,
.selectFilter {
  width: 160px;
  margin-right: 5px;
}
.textbook-filter:last-child,
.selectFilter:last-child {
  margin-right: 0;
}
#breadcrumb-region {
  display: none;
}
#main-content-region > .row,
#content-display-region > .row {
  margin: 0;
}
.tablesorter-header-inner {
  font-size: 14px;
  cursor: pointer;
}
#content-pieces-table th:first-child {
  width: 28%;
}
#content-pieces-table th:last-child a {
  text-decoration: underline;
}
#take-class-modules.takeClass th:nth-child(3) {
  width: 100px;
}
#take-class-modules.takeClass th:last-child {
  width: 40%;
}
.table-fixed-layout td.cpHeight {
  white-space: normal;
}
/*Theme Modifications*/
body {
  font-size: 20px;
  font-weight: 600;
}
select {
  font-weight: bold;
  font-size: 15px;
}
button {
  font-weight: bold;
}
label,
input,
button,
select,
textarea {
  font-size: 16px;
}
.small-text {
  font-size: 15px !important;
}
.label {
  font-size: 14px;
  display: inline-block;
  padding: 7px 9px;
  min-width: 100px;
  border-radius: 0;
}
.label.tag.label-info {
  min-width: 0;
  color: #0090d9;
}
.alert {
  font-size: 14px;
  border-radius: 0;
}
.btn {
  font-family: "Roboto";
  border-radius: 0;
  text-transform: uppercase;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.form-control {
  height: 45px;
  font-weight: bold;
  font-size: 16px;
}
.form-control .select2-choice {
  padding: 8px 9px;
  height: 45px;
}
.form-control .select2-choice .select2-arrow b:before {
  top: 6px;
}
input[disabled].disabled {
  cursor: not-allowed;
  background-color: #e5e9ec;
}
ol > li {
  line-height: 35px;
}
.checkbox label {
  font-size: 14px;
}
.nav-tabs > li > a {
  font-size: 16px;
}
.table td {
  font-size: 16px;
  font-weight: 400;
  padding: 14px 12px !important;
}
.progress {
  border-radius: 0;
  background: #d6dde1;
}
.progress .progress-bar {
  border-radius: 0;
}
.teacher-app .grid {
  background-color: transparent !important;
}
::-webkit-input-placeholder {
  color: #cdcdcd;
}
:-moz-placeholder {
  /* Firefox 18- */

  color: #cdcdcd;
}
::-moz-placeholder {
  /* Firefox 19+ */

  color: #cdcdcd;
}
:-ms-input-placeholder {
  color: #cdcdcd;
}
select {
  display: inline-block;
  position: relative;
  line-height: 1;
  width: 100%;
  min-height: 38px;
  padding: 6px;
  background: #f3f3f3;
  border: 1px solid #e5e9ec;
  box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  text-transform: none;
  outline: 0;
  outline-offset: -2px;
  cursor: default;
}
select:after,
select:before {
  content: "";
  position: absolute;
  right: 30px;
  top: 10px;
  bottom: 10px;
  border-left: 1px solid #e5e5e5;
}
.header .notifcation-center {
  display: none;
}
@media (max-width: 1024px) {
  #main-menu-toggle-wrapper,
  #portrait-chat-toggler {
    display: block !important;
  }
  .page-content .content {
    padding: 0;
    padding-top: 60px;
  }
  .page-title,
  #Filters {
    padding: 0 8px;
    margin-bottom: 0;
  }
  .header .notifcation-center {
    background: transparent;
    display: inline-block;
  }
  .header .notifcation-center li a {
    font-size: 16px;
    font-weight: bold;
  }
  .header .notifcation-center > li > a {
    padding: 5px 10px 10px!important;
    font-size: 28px;
    color: white;
  }
  .header .nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus {
    background: transparent;
  }
  .page-content {
    min-height: 0;
  }
}
/*Panzer Audio Player*/
.panzer-light .player {
  background: #f3f3f3;
  border: none;
}
/*Toggle switch for app login*/
.onoffswitch {
  position: relative;
  width: 120px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch > * {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0px);
  -webkit-transform: translate3d(0, 0, 0);
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0px solid #f3f3f3;
  border-radius: 0px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner > span {
  display: block;
  float: left;
  position: relative;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 15px;
  color: white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.onoffswitch-inner .onoffswitch-active {
  padding-left: 10px;
  background-color: #b9c4cc;
  color: #ffffff;
}
.onoffswitch-inner .onoffswitch-inactive {
  padding-right: 10px;
  background-color: #b9c4cc;
  color: #ffffff;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 50px;
  margin: 0px;
  text-align: center;
  border: 0px solid #f3f3f3;
  border-radius: 0px;
  position: absolute;
  top: 0;
  bottom: 0;
}
.onoffswitch-active .onoffswitch-switch {
  background: #0090d9;
  left: 0;
}
.onoffswitch-active .onoffswitch-switch:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 50px;
  border-style: solid;
  border-color: #0090d9 transparent transparent #0090d9;
  border-width: 15px 12px;
}
.onoffswitch-inactive .onoffswitch-switch {
  background: #aaaaaa;
  right: 0;
}
.onoffswitch-inactive .onoffswitch-switch:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 50px;
  border-style: solid;
  border-color: transparent #aaaaaa #aaaaaa transparent;
  border-width: 15px 12px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
