<div class="grid-title no-border">
    <h4 class="">Content <span class="semi-bold">Selection</span></h4>
    <div class="tools">
        <a href="javascript:;" class="collapse"></a>
    </div>
</div>
<div class="grid-body no-border contentSelect" style="overflow: hidden; display: block;">
    <div class="row">
        <div class="col-xs-12">
            <div class="">
                <div class="table-tools-actions">
                    <span id="textbook-filters"></span>
                    <select class="form-control inline" id="content-type-filter" style="width:150px" tabindex="-1">
                        <option value="">All</option>
                        <option value="teacher_question">Teacher Question</option>
                        <option value="content_piece">Content Piece</option>
                        <option value="student_question">Student Question</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-t-20">
        <div class="col-md-12">
            <ul class="nav nav-tabs b-grey b-l b-r b-t" id="addContent">
                <li class=""><a href="#addQstn">Add Question</a></li>
                <li class="active"><a href="#addSet">Add Set</a></li>


            </ul>

            <div class="tab-content">
                <div class="tab-pane" id="addQstn">
                    <div class="row">
                        <div class="col-md-12">
                            <h4><span class="semi-bold">All</span> Questions</h4>
                            <table class="table table-hover table-condensed table-fixed-layout table-bordered" id="dataContentTable">
                                <thead>
                                <tr>
                                    <th style="width:4%"><div id="check_all_div" class="checkbox check-default" style="margin-right:auto;margin-left:auto;">
                                        <input id="check_all" type="checkbox">
                                        <label for="check_all"></label>
                                    </div>
                                    </th>
                                    <th>Question</th>
                                    <th>Author</th>
                                    <th>Last Modified</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                            <div id="pager" class="pager">
                                <i class="fa fa-chevron-left prev"></i>
                                <span style="padding:0 15px"  class="pagedisplay"></span>
                                <i class="fa fa-chevron-right next"></i>
                                <select class="pagesize">
                                    <option selected value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                </select>
                            </div>                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="addSet">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-flip-scroll cf">
                                <thead class="cf">
                                <tr>
                                    <th>Total Questions</th>
                                    <th>Level 1</th>
                                    <th>Level 2</th>
                                    <th>Level 3</th>
                                    <th>Level 4</th>
                                    <th>Level 5</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>15 <input type="text" class="spinedit disabled" disabled="disabled">
                                    </td>
                                    <td>3 <input type="text" id="lvl1" /></td>
                                    <td>3 <input type="text" id="lvl2" /></td>
                                    <td>3 <input type="text" id="lvl3" /></td>
                                    <td>3 <input type="text" id="lvl4" /></td>
                                    <td>3 <input type="text" id="lvl5" /></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="checkbox check-info">
                                <input id="selectAll" type="checkbox" value="1">
                                <label for="selectAll" class="text-grey">Select All</label>
                            </div>
                            <div class="pull-right">
                                <button type="button" class="btn btn-success btn-cons2"><i class="fa fa-plus"></i> Add</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>