<div class="tiles green">
    <div class="tiles-head">
        <h4 class="text-white">
            <span class="semi-bold">Tool</span>box
        </h4>
    </div>
</div>
<h5 class="semi-bold text-center b-b b-grey p-b-10">Components</h5>
<div class="tools">
    <ul>
        <li data-element="Row">
            <a class="drag builder-element">
                <i class="bicon icon-uniF160"></i>

                <div class="aj-imp-builder-title">Row</div>
            </a>
        </li>
        <div class="clearfix"></div>
    </ul>
</div>
<h5 class="semi-bold text-center b-b b-grey p-b-10">Questions</h5>
<div class="tools">
    <ul class="elements">
        <li data-element="Hotspot">
            <a class="drag builder-element">
                <i class="fa fa-bullseye"></i>

                <div class="aj-imp-builder-title">Hotspot</div>
            </a>
        </li>
        <li data-element="Mcq">
            <a class="drag builder-element">
                <i class="fa fa-list-ol"></i>

                <div class="aj-imp-builder-title">MCQ</div>
            </a>
        </li>
        <li data-element="Fib">
            <a class="drag builder-element">
                <i class="bicon icon-uniF148"></i>

                <div class="aj-imp-builder-title"> FIB</div>
            </a>
        </li>
        <li data-element="BigAnswer">
            <a class="drag builder-element">
                <i class="fa fa-text-width"></i>

                <div class="aj-imp-builder-title">Big Answer</div>
            </a>
        </li>
        <li data-element="Sort">
            <a class="drag builder-element">
                <i class="fa fa-arrows-v"></i>

                <div class="aj-imp-builder-title">Sort</div>
            </a>
        </li>
        <li data-element="TeacherQuestion">
            <a class="drag builder-element">
                <i class="fa fa-arrows-v"></i>

                <div class="aj-imp-builder-title">Teacher Question</div>
            </a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
<h5 class="semi-bold text-center b-b b-grey p-b-10">Elements</h5>
<div class="tools">
    <ul>
        <li data-element="Image" class="hotspotable">
            <a class="drag builder-element">
                <i class="bicon icon-uniF10E"></i>

                <div class="aj-imp-builder-title">Image</div>
            </a>
        </li>
        <li data-element="Text" class="hotspotable">
            <a class="drag builder-element">
                <i class="bicon icon-uniF11C"></i>

                <div class="aj-imp-builder-title">Text</div>
            </a>
        </li>
        <li data-element="ImageWithText" class="hotspotable">
            <a class="drag builder-element">
                <i class="bicon icon-uniF112"></i>

                <div class="aj-imp-builder-title">Image With Text</div>
            </a>
        </li>
        <li data-element="Video" class="hotspotable">
            <a href="#" class="drag builder-element">
                <i class="bicon icon-uniF112"></i>

                <div class="aj-imp-builder-title">Video</div>
            </a>
        </li>
        <li data-element="Audio" class="hotspotable">
            <a href="#" class="drag builder-element">
                <i class="bicon icon-uniF112"></i>

                <div class="aj-imp-builder-title">Audio</div>
            </a>
        </li>
        <div class="clearfix"></div>
    </ul>
</div>