<div class="grid-title no-border">
						<h4 class="">{{name}}</h4>
						<div class="tools">
							<a href="javascript:;" class="collapse"></a>
						</div>
						</div>
						<div class="grid-body no-border" style="overflow: hidden; display: block;">
						<div class="row ">
							<div class="col-md-4">
							    <div class="margin-bottom-20 ">
									<label class="form-label">Objective</label>
									{{description.objective}}
									</div>
							</div>
							<div class="col-md-4">
							    <div class="margin-bottom-20 ">
									<label class="form-label">Physical Requirements</label>
									{{description.physical_requirements}}
								</div>
							</div>
							<div class="col-md-4">
							    <div class="margin-bottom-20 ">
									<label class="form-label">Textbook</label>
									{{showTextbook}}
								</div>
							</div>												 
						</div>
						<div class="row ">
								<div class="col-md-4">
								   <div class="margin-bottom-20 ">
									<label class="form-label">Description</label>
									{{description.description}}
								</div>
							</div>
							<div class="col-md-4">
							    <div class="margin-bottom-20 ">
									<label class="form-label">Electronic Requirements</label>
								{{description.electionic_requirements}}
								</div>
							</div>
							<div class="col-md-4">
							    <div class="margin-bottom-20 ">
									<label class="form-label">Chapter</label>
									{{showChapter}}
								</div>
							</div>											 
						</div>
						<div class="row ">
								<div class="col-md-4">
								   <div class="margin-bottom-20 ">
									<label class="form-label">Duration</label>
									{{duration}} {{minshours}}
								</div>
							</div>										 
						</div>
					</div>