.header .quick-section2 {
  margin-top: 16px;
  margin-right: 10px;
  display: inline-block;
  float: left;
}
.logo {
  margin: 18px 32px;
}
#textbooks.list .list_header .meta {
  margin-top: 0;
}
#textbooks.list .list_header .meta span {
  margin-top: 0;
}
#textbooks.list .meta.name {
  width: 30%;
}
#textbooks.list .meta {
  width: 17%;
  padding: 0 4% 0 2%;
  float: left;
}
#textbooks.list .img_wrapper {
  width: 50%;
  float: left;
  height: 65px;
  margin-right: 10px;
}
#textbooks.list .titles {
  vertical-align: top;
  width: 45%;
  float: left;
  word-break: break-word;
}
#textbooks.list .titles h2 {
  letter-spacing: 1px;
}
tbody.rowlink td {
  cursor: pointer;
}
.form-chptrAdd {
  margin-bottom: 10px;
}
.creator {
  position: relative;
}
#myCanvas {
  background: #fff;
  position: absolute;
  left: 260px;
  top: 0;
  width: 730px;
  height: 500px;
}
#toolbox {
  width: 240px;
  background: #fff;
}
#toolbox .tools,
#toolbox .qstns {
  padding: 0 10px 20px;
}
#toolbox .tools ul,
#toolbox .qstns ul {
  padding: 0;
}
#toolbox .tools ul li,
#toolbox .qstns ul li {
  float: left;
  border: 2px solid #e5e9ec;
  width: 65px;
  height: 65px;
  margin: 4px;
  list-style-type: none;
  cursor: move;
  text-align: center;
  padding: 0;
  padding-top: 5%;
  font-size: 12px;
}
#toolbox .tools ul li:hover,
#toolbox .qstns ul li:hover {
  background: #0090d9;
  transition: all 0.2s linear;
}
#toolbox .tools ul li:hover a,
#toolbox .qstns ul li:hover a {
  color: #fff;
  cursor: move;
}
#toolbox .tools ul li i,
#toolbox .qstns ul li i {
  font-size: 20px;
}
#toolbox .qstns ul li {
  width: 102px;
  height: 40px;
  font-weight: bold;
}
#toolbox .qstns ul li i {
  font-size: 16px;
}
.dock {
  position: absolute;
  right: 0;
  top: 0;
  width: 240px;
  height: 500px;
}
.scrollup {
  left: auto;
  right: 50px;
}
.tiles-head {
  padding: 10px 18px 5px 24px;
}
.docket .tile-footer.drag {
  cursor: move;
}
.docket ul {
  padding: 0;
}
.docket ul li {
  float: left;
  border: 2px solid #e5e9ec;
  width: 65px;
  height: 65px;
  margin: 4px;
  list-style-type: none;
  cursor: move;
  text-align: center;
  padding: 0;
  padding-top: 5%;
}
.docket ul li a {
  cursor: move;
}
.docket ul li a:hover {
  color: #0aa699;
}
.docket ul li i {
  font-size: 42px;
}
.docket-body {
  background: #fff;
  padding: 15px 10px;
  color: #000;
}
.docket-body label {
  color: #777a80;
}
.docket-body select.marks {
  width: auto;
}
.mashmenu .mod .mod-content,
.mashmenu .menu .sub-content {
  border-bottom-color: #0090d9;
}
.mashmenu .mod:hover a,
.mashmenu .menu li.level0:hover > a,
.mashmenu .menu .sub-channel li a,
.mashmenu .menu li.level0:hover .sub-channel li.hover a .fa-chevron-right,
.mashmenu .columns .list a {
  color: #2aa4cf;
}
.mashmenu .mod .mod-content,
.mashmenu .mod:hover,
.mashmenu .menu li.level0:hover > a,
.mashmenu .menu li.level0:hover .sub-channel li.hover a {
  background-color: #ffffff;
}
.mashmenu .mlogo:hover {
  background: none;
}
.mashmenu .sub-channel {
  background-color: #c7e6f5;
}
.mashmenu {
  position: relative;
  z-index: 1;
  margin-bottom: 25px;
  background: #0090D9;
}
.mashmenu div.mlogo {
  margin-left: 10px;
}
.mashmenu .menu .sub-content {
  background-color: #fff;
  padding: 20px;
}
.mashmenu .wrapper {
  width: auto;
  min-height: 400px;
}
.mashmenu .filters select {
  width: 30%;
  margin-right: 5px;
}
.mashmenu .filters .table-tools-actions {
  margin: 0;
}
