{{#isTeacherQuestion}}
<h3 class="m-t-0">Create a <span class="semi-bold">Teacher</span> Question<br>
<small>Create questions for training module to be taken during the class</small></h3>
{{/isTeacherQuestion}}

{{#isContentPiece}}
<h3 class="m-t-0">Create <span class="semi-bold">Content</span><br>
<small>Create content for training modules. This will not have any student interaction like teacher question</small></h3>
{{/isContentPiece}}

{{#isStudentQuestion}}
<h3 class="m-t-0">Create a <span class="semi-bold">Student</span> Question<br>
<small>Create questions for quizzes to be taken by the students</small></h3>
<ul class="nav nav-tabs" id="subProps">
    <li class="active" id="settings-tab"><a class="tabs" href="#settings-tab-pane">Settings</a></li>
    <li class="" id="more-tab"><a class="tabs" href="#more-tab-pane">Hints and comments</a></li>
</ul>
{{/isStudentQuestion}}

<form name="contentpiece-settings">
    <div class="tab-content ">
        <div class="tab-pane active" id="settings-tab-pane">

            <div class="row m-b-15">
                <div class="col-sm-4">
                    <label class="form-label">Textbook<span class="text-error">*</span></label>
                    <select required name="term_ids[textbook]" id="subs" class="form-control select2" >
                        <option value="">--select textbook--</option>
                        {{#textbooksFilter}}
                        <option value="{{id}}" {{#selected}} selected="selected" {{/selected}}>{{&name}}</option>
                        {{/textbooksFilter}}
                    </select>
                </div>
                <div class="col-sm-4">
                    <label class="form-label">Chapter<span class="text-error">*</span><span class="muted small pull-right"> Select a Subject first</span></label>
                    <select required name="term_ids[chapter]" id="chaps" class="form-control select2" >
                    </select>
                </div>
                <div class="col-sm-4">
                    <label class="form-label">Tags <span class="muted small pull-right"> Enter tags for question</span></label>
                    <input name="post_tags" type="text" data-role="tagsinput" value="{{post_tags}}" class="tagsinput" placeholder="Type Answer and press Enter" />
                </div>
            </div>
            <div class="row m-b-15">
                <div class="col-sm-4">
                    <label class="form-label">Section <span class="muted small pull-right"> Select a Chapter first</span></label>
                    <select name="term_ids[sections]" id="secs" class="form-control select2" multiple="">
                    </select>
                </div>
                <div class="col-sm-4">
                    <label class="form-label">Sub-Sections <span class="muted small pull-right"> Select a Chapter first</span></label>
                    <select name="term_ids[subsections]" id="subsecs" class="form-control select2" multiple="">
                    </select>
                </div>
                <div class="col-sm-4">
                    <label class="form-label">Time<span class="text-error">*</span></label>
                    <div class="row">
                        <!--
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Hours">
                        </div>-->
                        <div class="col-sm-6">
                            <input required name="duration" type="text" class="form-control" value="{{duration}}" placeholder="Minutes">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-b-15">
                <div class="col-sm-4" id="question_type_column">
                    <label class="form-label">Question Type<span class="text-error">*</span></label>
                    <select required name="question_type" id="qType" class="form-control select2" >
                        <option value="">--select question type--</option>
                        <option value="chorus">Chorus</option>
                        <option value="individual">Individual</option>
                        <option value="multiple_eval">Multiple Evaluation</option>
                    </select>
                </div>
                {{#isStudentQuestion}}
                <div class="col-sm-4" id="difficulty_level_column">
                    <label class="form-label">Difficulty Level<span class="text-error">*</span></label>
                    <select required name="difficulty_level" id="difficulty_level" class="form-control select2" >
                        <option value="">--select Difficulty Level--</option>
                        <option value="1">Level 1</option>
                        <option value="2">level 2</option>
                        <option value="3">Level 3</option>
                    </select>
                </div>
                {{/isStudentQuestion}}
                <div class="col-sm-4">
                    <label class="form-label">Status</label>
                    <select required name="post_status" id="status" class="form-control select2" >
                        <option value="pending">Under Review</option>
                        <option value="publish">Publish</option>
                        <option value="archive">Archive</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label class="form-label">Author:</label>{{post_author_name}}
                </div>

            </div>
            <div class="row">
                <div class="col-sm-8">
                    <label class="form-label">{{instructionsLabel}}</label>
                    <textarea name="instructions" class="instructions form-control autogrow" placeholder="{{instructionsLabel}}">
                        {{instructions}}
                    </textarea>
                </div>
                <div class="col-sm-2">
                    <label class="form-label">Published By:</label>
                    <span class="lastMod muted">{{published_by}}</span>
                </div>
                <div class="col-sm-2">
                    <label class="form-label">Last Modified By:</label>
                    <span class="lastMod muted">{{last_modified_by}}</span>
                </div>
            </div>
            <!--{{#studentQuestion}}-->
                <!--<div class="row">-->
                    <!--<div class="col-sm-6">-->
                        <!--<label class="form-label">Negative Marks</label>-->
                        <!--<select required name="negative_marks" id="negativeMarks" class="form-control select2" >-->
                            <!--<option value="0">0</option>-->
                            <!--<option value="1">-1</option>-->
                            <!--<option value="2">-2</option>-->
                            <!--<option value="3">-3</option>-->
                            <!--<option value="4">-4</option>-->
                            <!--<option value="5">-5</option>-->
                        <!--</select>-->

                    <!--</div>-->
                <!--</div>-->
            <!--{{/studentQuestion}}-->
        </div>
        {{#isStudentQuestion}}
        <div class="tab-pane" id="more-tab-pane">
            <div class="row m-b-15">
                <div class="col-sm-6">
                    <div class="checkbox check-info">
                        <input type="checkbox" name="hint_enable" id="hint_enable">
                        <label class="form-label" for="hint_enable">Enable Hint</label>
                    </div>
                    <textarea name="hint" id="question-hint" class="form-control" rows="4" placeholder="Enter Hint" style="display: none" disabled></textarea>
                </div>
                <div class="col-sm-6">
                    <div class="checkbox check-info">
                        <input type="checkbox" name="comment_enable" id="comment_enable">
                        <label class="form-label" for="comment_enable">Enable Comment</label>
                    </div>
                    <textarea name="comment" id="question-comment" class="form-control" placeholder="Enter Comment" rows="4" style="display: none" disabled ></textarea>
                </div>
            </div>
        </div>
        {{/isStudentQuestion}}
    </div>
</form>

<div class="builder_actions pull-right">
    <button type="button" class="btn btn-info btn-cons2" id="save-question">
        <i class="fa fa-check"></i> Save</button>
        
    <button type="button" class="btn btn-info btn-cons2" id="clone-question">Clone</button>
        
    <button type="button" id="preview-question" class="btn btn-info btn-cons2 none">
        <i class="fa fa-eye"></i> Preview</button>
</div>

<div class="page-title">
    <h3>Add <span class="semi-bold">Question</span></h3>
</div>
