<ul class="nav nav-tabs" id="subProps">
    <li class="active"><a href="#settings">Settings</a></li>
    <li class=""><a href="#meta">Meta</a></li>
</ul>
<form name="contentpiece-settings">
    <div class="tab-content ">
        <div class="tab-pane active" id="settings">
            <div class="row m-b-20">
                <div class="col-sm-4">
                    <label class="form-label">Subject</label>
                    <select name="term_ids[textbook]" id="subs" class="form-control select2" >
                        <option value="">--select textbook--</option>
                        {{#textbooksFilter}}
                        <option value="{{id}}" {{#selected}} selected="selected" {{/selected}}>{{name}}</option>
                        {{/textbooksFilter}}
                    </select>
                </div>
                <div class="col-sm-4">
                    <label class="form-label">Chapter <span class="muted small pull-right"> Select a Subject first</span></label>
                    <select name="term_ids[chapter]" id="chaps" class="form-control select2" >
                    </select>
                </div>
                <div class="col-sm-4">
                    <label class="form-label">Tags</label>
                    <input name="post_tags" type="text" data-role="tagsinput" value="{{post_tags}}" class="tagsinput" placeholder="Type Answer and press Enter" />
                </div>
            </div>
            <div class="row m-b-20">
                <div class="col-sm-4">
                    <label class="form-label">Section <span class="muted small pull-right"> Select a Chapter first</span></label>
                    <select name="term_ids[sections]" id="secs" class="form-control select2" multiple="">
                    </select>
                </div>
                <div class="col-sm-4">
                    <label class="form-label">Sub-Sections <span class="muted small pull-right"> Select a Chapter first</span></label>
                    <select name="term_ids[subsections]" id="subsecs" class="form-control select2" multiple="">
                    </select>
                </div>
                <div class="col-sm-4">
                    <label class="form-label">Time</label>
                    <div class="row">
                        <!--
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Hours">
                        </div>-->
                        <div class="col-sm-6">
                            <input name="duration" type="text" class="form-control" value="{{duration}}" placeholder="Minutes">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="meta">
            <div class="row m-b-20">
                <div class="col-sm-4">
                    <label class="form-label">Question Type</label>
                    <select name="question_type" id="qType" class="form-control select2" >
                        <option value="chorus">Chorus</option>
                        <option value="individual">Individual</option>
                    </select>

                </div>
                <div class="col-sm-4">
                    <label class="form-label">Status</label>
                    <select name="post_status" id="status" class="form-control select2" >
                        <option value="pending">Under Review</option>
                        <option value="publish">Published</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label class="form-label">Author</label>
                    <select name="post_author" id="author" class="form-control select2" >
                        <option value="">--select author--</option>
                        {{#authorsNames}}
                        <option value="{{ID}}">{{name}}</option>
                        {{/authorsNames}}
                    </select>
                </div>

            </div>
            <div class="row m-b-20">
                <div class="col-sm-4">
                    <label class="form-label">Published by</label>
                    <span class="lastMod muted">{{published_by}}</span>
                </div>
                <div class="col-sm-4">
                    <label class="form-label">Last Modified By:</label>
                    <span class="lastMod muted">{{last_modified_by}}</span>
                </div>
                <div class="col-sm-4">

                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab2Inspire">
            <div class="row">
                <div class="col-md-12">
                    <h3>Follow us &amp; get updated!</h3>
                    <p>Instantly connect to what's most important to you. Follow your friends, experts, favorite celebrities, and breaking news.</p>
                    <br>
                    <p><a href="#" class="btn-social"><i class="icon-facebook"></i></a> <a href="#" class="btn-social"><i class="icon-twitter"></i> </a> <a href="#" class="btn-social"><i class="icon-dribbble"></i></a> <a href="#" class="btn-social"><i class="icon-pinterest-sign"></i></a> <a href="#" class="btn-social"><i class="icon-tumblr"></i> </a> <a href="#" class="btn-social"><i class="icon-linkedin-sign"></i> </a> </p>
                </div>
            </div>
        </div>
    </div>
</form>