header.settings-header
	.row
		.col-sm-10
			h5.title {{config.element}} Settings
		.col-sm-2.close-btn
			a(class='close-settings', href='#') &times;
.row
	.col-sm-12
		form.form-horizontal(action='', method='POST', role='form')
			.form-group
				label.col-sm-4.control-label(for='') Choose Style
				.col-sm-8
					select(name="style")
						option(value="") None
						{{#styles}}
						option(value="{{name}}") {{name}}
						{{/styles}}
			.form-group
				label.col-sm-4.control-label(for='') Draggable
				.col-sm-8
					span.checkbox
						input(type='checkbox' name="draggable")
				.clearfix
			.form-group
				label.col-sm-4.control-label(for='') No of columns
				.col-sm-8
					.set-column-count.btn-group.btn-group-xs
						a.btn.btn-default 1 
						a.btn.btn-default 2 
						a.btn.btn-default 3 
						a.btn.btn-default 4 
						a.btn.btn-default 6 
						