<div class="m-t-10 well pull-right m-b-10 p-t-10 p-b-10"><button id="question-done" type="button" class="btn btn-primary btn-xs btn-sm"><i class="fa fa-check"></i> Done </button></div>

<div class="clearfix"></div>
<div class="row students m-t-20">
	<div class="col-sm-2 m-b-20">
		<div id="few" class="row single tiles white no-margin">    
            <div class="col-md-7 col-xs-7 no-padding">
              <div class="text-center">
                <h4 class="text-primary no-margin p-t-15 p-l-5 p-r-5 p-b-20 semi-bold">Very<br/>Few</h4>
                <div class="clearfix"></div>
              </div>
            </div>
			 <div class="col-md-5 col-xs-5 no-padding">
              <div class="tiles default active"><h5 class="bold text-white text-center no-margin p-t-30 p-b-35"><5%</h5>
              </div>
            </div>
        </div>
	</div>
	<div class="col-sm-2 m-b-20">
		<div id="one-fourth" class="row single tiles white no-margin">    
            <div class="col-md-7 col-xs-7 no-padding">
              <div class="text-center">
                <h4 class="text-primary no-margin p-t-15 p-b-20 p-l-5 p-r-5 semi-bold">1/4th of the Class</h4>
                <div class="clearfix"></div>
              </div>
            </div>
			 <div class="col-md-5 col-xs-5 no-padding">
              <div class="tiles default active">
                <h5 class="bold text-white text-center no-margin p-t-30 p-b-35">5-25%</h5>
              </div>
            </div>
        </div>
	</div>
	<div class="col-sm-2 m-b-20">
		<div id="half" class="row single tiles white no-margin">    
            <div class="col-md-7 col-xs-7 no-padding">
              <div class="text-center">
                <h4 class="text-primary no-margin p-t-15 p-b-20 p-l-5 p-r-5 semi-bold">Half the Class</h4>
                <div class="clearfix"></div>
              </div>
            </div>
			 <div class="col-md-5 col-xs-5 no-padding">
              <div class="tiles default active">
                <h5 class="bold text-white text-center no-margin p-t-30 p-b-35">25-50%</h5>
              </div>
            </div>
        </div>
	</div>
	<div class="col-sm-2 m-b-20">
		<div id="three-fourth" class="row single tiles white no-margin">    
            <div class="col-md-7 col-xs-7 no-padding">
              <div class="text-center">
                <h4 class="text-primary no-margin p-t-15 p-b-20 p-l-5 p-r-5 semi-bold">3/4 the Class </h4>
                <div class="clearfix"></div>
              </div>
            </div>
			 <div class="col-md-5 col-xs-5 no-padding">
              <div class="tiles default active">
                   <h5 class="bold text-white text-center no-margin p-t-30 p-b-35">50-75%</h5>
              </div>
            </div>
        </div>
	</div>
	<div class="col-sm-2 m-b-20">
		<div id="full" class="row single tiles white no-margin">    
            <div class="col-md-7 col-xs-7 no-padding">
              <div class="text-center">
                <h4 class="text-primary no-margin p-t-15 p-b-20 p-l-5 p-r-5 semi-bold">Full<br/>Class</h4>
                <div class="clearfix"></div>
              </div>
            </div>
			 <div class="col-md-5 col-xs-5 no-padding">
              <div class="tiles default active">
                <h5 class="bold text-white text-center no-margin p-t-30 p-b-35">75-100%</h5>
              </div>
            </div>
        </div>
	</div>
</div>