<div class="contentTime">
    <div class="grid-body no-border">
        <div class="p-t-10">
            <label class="form-label bold small-text text-center">Content Piece Timer</label>
            {{#isTraining}}
                <p class="small-text muted text-center">Visible in Class room mode</p>
            {{/isTraining}}
            {{^isTraining}}
                <!--<div class="cpTimer" data-timer="{{timeLeftOrElapsed}}"></div>-->
                <div id="downUpTimer" timerdirection=""></div>
                {{&getCompletedSummary}}
            {{/isTraining}}
        </div>
    </div>
</div>

<div class="contentInfo">
    <div class="modTime next m-b-10">
        <button type="button" id="top-panel-question-done"  class="btn btn-block btn-success m-t-10">
            <i class="fa fa-forward"></i> Next
        </button>
    </div>

    <div class="grid-body no-border">
        <div class="b-grey b-b m-b-10 p-b-5" id="question-type-col">
            <label class="form-label bold small-text muted no-margin">Type</label>
            <span style="text-transform: capitalize">{{question_type}}</span>
        </div>
        <div class="b-grey b-b m-b-10 p-b-5">
            <label class="form-label bold small-text muted no-margin">Class</label>
            {{getClass}}
        </div>
        <div class="b-grey b-b m-b-10 p-b-5">
            <label class="form-label bold small-text muted no-margin">Textbook</label>
            {{getTextbookName}}
        </div>
        <div class="b-grey b-b m-b-10 p-b-5">
            <label class="form-label bold small-text muted no-margin">Chapter</label>
            {{getChapterName}}
        </div>
        <div class="b-grey b-b m-b-10 p-b-5">
            <label class="form-label bold small-text muted no-margin">Section</label>
            {{getSectionsNames}}
        </div>
        <div class="b-grey b-b m-b-10 p-b-5">
            <label class="form-label bold small-text muted no-margin">Sub-Section</label>
            {{getSubSectionsNames}}
        </div>
        <div class="b-grey b-b m-b-10 p-b-5" id="total-marks">
            <label class="form-label bold small-text muted no-margin">Marks</label>
            <span></span>
        </div>
    </div>
</div>