{{#isTraining}}
    <div class="well text-center">
        <h4><span class="bold">This is a practise mode.
                It is designed to help you train for the class</span></h4>
    </div>
{{/isTraining}}
<div class="moduleInfo m-b-20">
	<div class="b-grey b-b no-margin p-l-15 p-r-15 p-b-5 p-t-10">
        <div class="row">
            <div class="col-sm-2">
                <a id="back-to-module" class="btn btn-small btn-block btn-white"><h4 class="semi-bold text-info no-margin"><span class="fa fa-pause"></span> {{name}}</h4></a>
                
                <!-- {{&showPauseButton}} -->
            </div>
            <div class="col-sm-7 b-grey b-l">
                <div class="text-grey p-t-10 p-l-5 p-r-10 p-b-10">
                    <p class="bold small-text muted">Objective: </p>
                    <p class="">{{description.objective}}</p>
                </div>
            </div>
            <div class="col-sm-3 b-grey b-l text-center">

                {{^isTraining}}
                    <div class="modProgress h-center">
                        <p class="bold small-text muted m-t-10 m-b-5">Progress</p>
                        <div class="progress progress-large w100">
                            <div data-percentage="{{getProgressPercentage}}%" style="width: {{getProgressPercentage}}%;" class="progress-bar progress-bar-warning" role="progressbar" aria-valuemin="0" aria-valuemax="100">{{getProgressData}}</div>
                        </div>
                    </div>
                    <h5 class="text-grey m-t-0 m-b-0 bold time"><span class="muted">Completed Time:</span> <i class="fa fa-clock-o"></i> {{moduleTime}}</h5>
                {{/isTraining}}

            </div>

            
            <div class="clearfix"></div>
        </div>
	</div>
	
</div>