{{#isTraining}}
    <div class="well text-center">
        <h4><span class="bold">This is a practise mode.
                It is designed to help you train for the class</span></h4>
    </div>
{{/isTraining}}
<div class="moduleInfo m-b-20">
	<div class="b-grey b-b no-margin p-l-15 p-r-15 p-b-5 p-t-10">
            <div class="modTime">
                <a id="back-to-module" class="btn btn-small btn-block btn-white m-t-10"><h4 class="semi-bold text-info no-margin"><span class="fa fa-pause"></span> {{name}}</h4></a>
                
                <!-- {{&showPauseButton}} -->
            </div>
            <div class="modTime b-grey b-l text-center">
                <!-- <div class="text-grey p-t-10 p-l-5 p-r-10 p-b-10">
                    <p class="bold small-text muted">Objective: </p>
                    <p class="">{{description.objective}}</p>
                </div> -->
                <p class="bold small-text muted no-margin">Module Time</p>
                <h3 class="bold text-grey no-margin">
                    <span class="animate-number" data-animation-duration="1200">{{total_minutes}} mins</span>
                </h3>
            </div>
            <div class="modTime b-grey b-l text-center">
                {{^isTraining}}
                <p class="bold small-text muted no-margin">Completed Time</p>
                <h3 class="bold text-grey no-margin">
                    <span class="animate-number" data-animation-duration="1200">{{moduleTime}}</span>
                </h3>
                {{/isTraining}}
            </div>
            <div class="modTime b-grey b-l b-r text-center">
                {{^isTraining}}
                    <div class="modProgress h-center">
                        <p class="bold small-text muted">Progress</p>
                        <div class="progress progress-large w100 m-b-0">
                            <div data-percentage="{{getProgressPercentage}}%" style="width: {{getProgressPercentage}}%;" class="progress-bar progress-bar-warning" role="progressbar" aria-valuemin="0" aria-valuemax="100">{{getProgressData}}</div>
                        </div>
                    </div>
                {{/isTraining}}
            </div>
            <div class="modTime">
                <button type="button" id="" class="btn  btn-success m-t-10 pull-right">
                    <i class="fa fa-forward"></i> Next
                </button>
            </div>
            <div class="clearfix"></div>
	</div>
	
</div>