header.settings-header
	.row
		.col-sm-10
			h5.title {{element}} Settings
		.col-sm-2.close-btn
			a(class='close-settings', href='#') &times;
.row
	.col-sm-12
		form.form-horizontal(action='', method='POST', role='form')
			.form-group
				label.col-sm-4.control-label(for='') Draggable
				.col-sm-8
					span.checkbox
						input(type='checkbox' name="draggable")
			.form-group
				label.col-sm-4.control-label(for='') Align
				.col-sm-8
					select(name="align")
						option(value="left") Left
						option(value="right") Right