<div class="grid-title no-border">
	<h4 class="">Lecture <span class="semi-bold">ABC</span></h4>
	<div class="tools">
		<a href="javascript:;" class="collapse"></a>
	</div>
</div>
<div class="grid-body no-border" style="overflow: hidden; display: block;">
	<form name="content-collection-form" id="content-collection-form">
		Module Name: <input id="group_name" name="name" type="text" required="required" value="test" />
		<div class="row ">
			<div class="col-md-4">
			    <div class="margin-bottom-20 ">
					<label class="form-label">Objective</label>
					<textarea id="objective" name="description[objective]" required="required" class="form-control" placeholder="Enter Objective">test</textarea>
					</div>
			</div>
			<div class="col-md-4">
			    <div class="margin-bottom-20 ">
					<label class="form-label">Physical Requirements</label>
					<textarea name="description[physical_requirements]"  required="required" class="form-control" placeholder="Enter Physical Requirements">test</textarea>
				</div>
			</div>
			<div class="col-md-4">
			    <div class="margin-bottom-20 ">
					<label required="required" class="form-label">Textbook</label>
					<select name="term_ids[textbook]" id="textbooks" class="form-control select2" >
						<option value="">--select textbook--</option>
		                {{#textbooksFilter}}
		                	<option value="{{id}}">{{name}}</option>
		                {{/textbooksFilter}}
		            </select>
				</div>
			</div>												 
		</div>
		<div class="row ">
				<div class="col-md-4">
				   <div class="margin-bottom-20 ">
					<label class="form-label">Description</label>
					<textarea id="description" name="description[description]" rows="4" class="form-control" placeholder="Enter Description">{{description}}</textarea>
				</div>
			</div>
			<div class="col-md-4">
			    <div class="margin-bottom-20 ">
					<label class="form-label">Electronic Requirements</label>
					<textarea id="electronic_requirements" name="description[electionic_requirements]" class="form-control" placeholder="Enter Electronic Requirements"></textarea>
				</div>
			</div>
			<div class="col-md-4">
			    <div class="margin-bottom-20 ">
					<label class="form-label">Chapter <span class="muted small pull-right"> Select a Textbook first</span></label>
					<select name="term_ids[chapter]" id="chapters" class="form-control select2" >
						<option value="">--select chapters--</option>
		            </select>
				</div>
			</div>											 
		</div>
		<div class="row ">
				<div class="col-md-4">
				   <div class="margin-bottom-20 ">
					<label class="form-label">Section <span class="muted small pull-right"> Select a Chapter first</span></label>
					<select name="term_ids[sections][]" id="secs" class="form-control select2" multiple="">
		            </select>
				</div>
			</div>
			<div class="col-md-4">
			    <div class="margin-bottom-20 ">
					<label class="form-label">Sub-Sections <span class="muted small pull-right"> Select a Chapter first</span></label>
					<select name="term_ids[subsections][]" id="subsecs" class="form-control select2" multiple="">
		            </select>
				</div>
			</div>
			<div class="col-md-4">
			    <div class="p-t-30 ">
					<button type="submit" class="btn btn-success btn-cons2 right" id="save-content-collection"> <i class="fa fa-check"></i> Save</button>
				</div>
			</div>											 
		</div>
	</form>
</div>